Repository ita-social-projects/EPlast-Client, pull requests merged in 2020-12, with the labels that each got.

#252 Added additional questions to region annual report
  src/App.tsx
  src/api/adminApi.tsx
  src/api/clubsApi.tsx
  src/api/regionsApi.tsx
  src/components/Notifications/Messages.tsx
  src/models/Club/ClubUser.tsx
  src/pages/AnnualReport/AnnualReportTable/AnnualReportTable.tsx
  src/pages/AnnualReport/AnnualReportTable/CityAnnualReportTable.tsx
  src/pages/AnnualReport/AnnualReportTable/ClubAnnualReport.tsx
  src/pages/AnnualReport/AnnualReportTable/ClubAnnualReportInformation/ClubAnnualReportInformation.less
  src/pages/AnnualReport/AnnualReportTable/ClubAnnualReportInformation/ClubAnnualReportInformation.tsx
  src/pages/AnnualReport/AnnualReportTable/ClubSelectModal/ClubSelectModal.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForClubAnnualReports/ConfirmedDropdown/ConfirmedDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForClubAnnualReports/ConfirmedDropdown/ConfirmedDropdownProps.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForClubAnnualReports/Dropdown.module.css
  src/pages/AnnualReport/AnnualReportTable/DropdownsForClubAnnualReports/SavedDropdown/SavedDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForClubAnnualReports/SavedDropdown/SavedDropdownProps.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForClubAnnualReports/UnconfirmedDropdown/UnconfirmedDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForClubAnnualReports/UnconfirmedDropdown/UnconfirmedDropdownProps.tsx
  src/pages/AnnualReport/AnnualReportTable/FormAnnualReportRegion.tsx
  src/pages/AnnualReport/AnnualReportTable/RegionAnnualReportInformation.tsx
  src/pages/AnnualReport/AnnualReportTable/RegionAnnualReportTable.tsx
  src/pages/AnnualReport/ClubAnnualReportCreate/ClubAnnualReportCreate.less
  src/pages/AnnualReport/ClubAnnualReportCreate/ClubAnnualReportCreate.tsx
  src/pages/AnnualReport/ClubAnnualReportCreate/ClubAnnualReportTableColumns.tsx
  src/pages/AnnualReport/ClubMembersTable.tsx
  src/pages/AnnualReport/Interfaces/Club.ts
  src/pages/AnnualReport/Interfaces/ClubAnnualReport.ts
  src/pages/AnnualReport/Interfaces/RegionAnnualReportQuestions.ts
  src/pages/AnnualReport/Interfaces/RegionAnnualReports.ts
  src/pages/AnnualReport/columnsClubsMembers.tsx
Labels: RegionAnnualReport

#263 Fixed bugs with active membership and header menu
  src/components/Header/Header.module.css
  src/pages/userPage/ActiveMembership/ActiveMembership.module.css
Labels: Type: Bug

#273 Added possibility to edit, cancel and delete clubAnnualReport
  src/App.tsx
  src/api/clubsApi.tsx
  src/pages/AnnualReport/AnnualReportTable/AnnualReportTable.tsx
  src/pages/AnnualReport/AnnualReportTable/CityAnnualReportTable.tsx
  src/pages/AnnualReport/AnnualReportTable/ClubAnnualReport.tsx
  src/pages/AnnualReport/ClubAnnualReportCreate/ClubAnnualReportCreate.tsx
  src/pages/AnnualReport/ClubAnnualReportEdit/ClubAnnualReportEdit.less
  src/pages/AnnualReport/ClubAnnualReportEdit/ClubAnnualReportEdit.tsx
Labels: RegionAnnualReport

#271 Fix messages
  src/components/Notifications/Messages.tsx
  src/pages/Actions/ActionEvent/EventUser/EventUser.module.css
  src/pages/Actions/ActionEvent/EventUser/EventUser.tsx
  src/pages/SignUp/SignUp.tsx
Labels: Type: Bug

#276 Added check for already created regions and clubs
  src/pages/Actions/ActionEvent/EventUser/EventUser.tsx
  src/pages/Club/CreateClub/CreateClub.tsx
  src/pages/Regions/AddRegion.tsx
Labels: Regions

#277 Added notifications for events
  src/components/Notifications/Messages.tsx
  src/pages/Actions/ActionEvent/EventCard/EventCard.tsx
  src/pages/Actions/ActionEvent/EventInfo/SortedEventInfo.tsx
  src/pages/Actions/ActionEvent/SortedEvents.tsx
  src/pages/Actions/EventsModals.tsx
  src/pages/Club/CreateClub/CreateClub.tsx
Labels: Events

#278 Fixed event notifications
  src/pages/Actions/ActionEvent/SortedEvents.tsx
  src/pages/Actions/EventsModals.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
Labels: Events

#281 Improve blanks' formats
  src/api/blankApi.tsx
  src/components/PrivateLayout/PrivateLayout.tsx
  src/pages/userPage/Blanks/Blanks.tsx
  src/pages/userPage/Blanks/UserAchievements/AddAchievementsModal.tsx
  src/pages/userPage/Blanks/UserAchievements/ListOfAchievementsModal.tsx
  src/pages/userPage/Blanks/UserBiography/AddBiographyModal.tsx
  src/pages/userPage/Blanks/UserExtractFromUPU/AddExtractFromUPUModal.tsx
Labels: blanks
