Repository ita-social-projects/EPlast-Client, pull requests merged in 2020-10, with the labels that each got.

#149 Added page for blanks
  src/api/blankApi.tsx
  src/models/Blank/BlankDocument.tsx
  src/pages/userPage/Blanks/Blanks.module.css
  src/pages/userPage/Blanks/Blanks.tsx
  src/pages/userPage/Blanks/UserBiography/AddBiographyModal.tsx
  src/pages/userPage/Menu/Menu.tsx
  src/pages/userPage/personalData/PersonalData.tsx
Labels: blanks

#151 Added General Info and resposive to ActiveMembership
  src/api/activeMembershipApi.ts
  src/pages/UserTable/DropDownUserTable.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.module.css
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/ActiveMembership/UserDates/ModalChangeUserDates.module.css
  src/pages/userPage/ActiveMembership/UserDates/ModalChangeUserDates.tsx
Labels: Active Membership

#156 Component for Blank Achievements List
  package-lock.json
  package.json
  src/api/blankApi.tsx
  src/pages/userPage/Blanks/Blanks.module.css
  src/pages/userPage/Blanks/Blanks.tsx
  src/pages/userPage/Blanks/UserAchievements/AddAchievementsModal.tsx
  src/pages/userPage/Blanks/UserAchievements/ListOfAchievements.module.css
  src/pages/userPage/Blanks/UserAchievements/ListOfAchievementsModal.tsx
  src/pages/userPage/Blanks/UserBiography/AddBiographyModal.tsx
Labels: blanks

#157 Achievement api
  src/api/blankApi.tsx
Labels: blanks

#162 Added opportunity to approve event. Fixed buttons
  src/App.tsx
  src/api/eventUserApi.ts
  src/pages/Actions/ActionEvent/EventCalendar/EventCalendar.tsx
  src/pages/Actions/ActionEvent/EventCard/EventCard.tsx
  src/pages/Actions/ActionEvent/EventInfo/EventInfo.tsx
  src/pages/Actions/ActionEvent/EventInfo/SortedEventInfo.tsx
  src/pages/Actions/ActionEvent/EventUser/EventUser.module.css
  src/pages/Actions/ActionEvent/EventUser/EventUser.tsx
  src/pages/Actions/EventsModals.tsx
Labels: Events

#160 Created "Виписка з УПЮ" component and fixed some bugs
  src/api/blankApi.tsx
  src/pages/userPage/Blanks/Blanks.tsx
  src/pages/userPage/Blanks/UserAchievements/ListOfAchievementsModal.tsx
  src/pages/userPage/Blanks/UserExtractFromUPU/AddExtractFromUPUModal.tsx
Labels: blanks

#161 Created NotificationBox, fixed some bugs
  package-lock.json
  package.json
  src/api/NotificationBoxApi.tsx
  src/components/Header/HeaderContainer.tsx
  src/components/NotificationBox/NotificationBox.module.css
  src/components/NotificationBox/NotificationBox.tsx
  src/components/NotificationBox/SignalRConnection.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.module.css
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
Labels: Notifications(Сповіщення)

#163 Fixed bug with infinity sending degree request.
  src/pages/userPage/ActiveMembership/PlastDegree/ModalAddPlastDegree.tsx
Labels: Active Membership

#165 Add approve event
  src/pages/Actions/ActionEvent/EventInfo/EventDetailsHeader.tsx
  src/pages/Actions/ActionEvent/EventInfo/EventInfo.tsx
  src/pages/Actions/ActionEvent/EventInfo/SortedEventInfo.tsx
  src/pages/Actions/ActionEvent/EventUser/EventUser.module.css
  src/pages/Actions/ActionEvent/EventUser/EventUser.tsx
  src/pages/Actions/EventsModals.tsx
Labels: Events

#167 Added pagination for events categories. Fixed bugs.
  src/api/eventsApi.ts
  src/pages/Actions/ActionEvent/EventCreate/EventCreate.tsx
  src/pages/Actions/ActionEvent/EventEdit/EventEdit.tsx
  src/pages/Actions/ActionEvent/EventInfo/EventDetailsHeader.tsx
  src/pages/Actions/ActionEvent/EventInfo/SortedEventInfo.tsx
  src/pages/Actions/ActionEvent/EventUser/EventUser.tsx
  src/pages/Actions/Actions.module.css
  src/pages/Actions/Actions.tsx
Labels: Events

#168 Adding new roles for user by admin
  src/api/citiesApi.tsx
  src/api/clubsApi.tsx
  src/api/regionsApi.tsx
  src/models/City/CityForAdmin.tsx
  src/models/Club/ClubForAdmin.tsx
  src/models/Region/RegionForAdmin.tsx
  src/pages/UserTable/ChangeUserCityForm.tsx
  src/pages/UserTable/ChangeUserCityModal.tsx
  src/pages/UserTable/ChangeUserClubForm.tsx
  src/pages/UserTable/ChangeUserClubModal.tsx
  src/pages/UserTable/ChangeUserRegionForm.tsx
  src/pages/UserTable/ChangeUserRegionModal.tsx
  src/pages/UserTable/ColumnsForUserTable.tsx
  src/pages/UserTable/DropDownUserTable.tsx
Labels: User Table

#179 Decisions fixes
  src/pages/DecisionTable/AddDecisionModal.tsx
  src/pages/DecisionTable/DecisionTable.tsx
  src/pages/DecisionTable/EditDecisionModal.tsx
  src/pages/DecisionTable/FormAddDecision.module.css
  src/pages/DecisionTable/FormAddDecision.tsx
  src/pages/DecisionTable/FormEditDecision.module.css
  src/pages/DecisionTable/FormEditDecision.tsx
Labels: Type: Bug

#181 Decisions table fix
  src/api/decisionsApi.tsx
  src/pages/DecisionTable/DecisionTable.tsx
  src/pages/DecisionTable/Table.module.css
  src/pages/DecisionTable/columns.tsx
Labels: enhancement

#178 Fixed some bug in Active Membership
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/ModalAddEndDatePlastDegree.tsx
  src/pages/userPage/ActiveMembership/UserDates/ModalChangeUserDates.tsx
Labels: Active Membership

#177 Create generation component for blank
  src/api/blankApi.tsx
  src/components/Header/HeaderContainer.tsx
  src/pages/userPage/Blanks/Blank.less
  src/pages/userPage/Blanks/Blanks.module.css
  src/pages/userPage/Blanks/Blanks.tsx
  src/pages/userPage/Blanks/UserAchievements/AddAchievementsModal.tsx
  src/pages/userPage/Blanks/UserAchievements/ListOfAchievements.module.css
  src/pages/userPage/Blanks/UserAchievements/ListOfAchievementsModal.tsx
  src/pages/userPage/Blanks/UserBiography/AddBiographyModal.tsx
  src/pages/userPage/Blanks/UserExtractFromUPU/AddExtractFromUPUModal.tsx
Labels: blanks

#173 Google Authorization
  package-lock.json
  package.json
  src/api/authorizeApi.ts
  src/pages/SignIn/GoogleLoginWrapper.tsx
  src/pages/SignIn/SignIn.tsx
Labels: enhancement
