Repository ita-social-projects/EPlast-Client, pull requests merged in 2020-11, with the labels that each got.

#185 Adding new roles for user by admin
  src/api/adminApi.tsx
  src/pages/City/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/Club/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/UserTable/AddRegionAdministratorForm.tsx
  src/pages/UserTable/AddRegionAdministratorModal.tsx
  src/pages/UserTable/ChangeUserCityForm.tsx
  src/pages/UserTable/ChangeUserCityModal.tsx
  src/pages/UserTable/ChangeUserClubForm.tsx
  src/pages/UserTable/ChangeUserClubModal.tsx
  src/pages/UserTable/ChangeUserRegionForm.tsx
  src/pages/UserTable/ChangeUserRegionModal.tsx
  src/pages/UserTable/ChangeUserRoleForm.tsx
  src/pages/UserTable/ChangeUserRoleModal.tsx
  src/pages/UserTable/DropDownUserTable.tsx
  src/pages/UserTable/UserTable.module.css
  src/pages/UserTable/UserTable.tsx
Labels: User Table

#186 Decisions fixes
  src/pages/DecisionTable/DecisionTable.tsx
  src/pages/DecisionTable/FormAddDecision.module.css
  src/pages/DecisionTable/FormAddDecision.tsx
  src/pages/DecisionTable/FormEditDecision.module.css
  src/pages/DecisionTable/FormEditDecision.tsx
Labels: Type: Bug

#188 Some fixes
  src/api/adminApi.tsx
  src/pages/UserTable/AddRegionAdministratorForm.tsx
  src/pages/UserTable/ChangeUserRoleForm.tsx
  src/pages/UserTable/DropDownUserTable.tsx
Labels: User Table

#187 Added creating new notifications for events and clubs
  src/api/NotificationBoxApi.tsx
  src/components/Header/HeaderContainer.tsx
  src/pages/Actions/ActionEvent/EventCreate/EventCreate.tsx
  src/pages/Actions/ActionEvent/EventEdit/EventEdit.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Club/Club/ClubAdministration.tsx
  src/pages/Club/Club/ClubFollowers.tsx
  src/pages/Club/Club/ClubMembers.tsx
Labels: Notifications(Сповіщення)

#189 fixed bug with Generation component
  src/pages/userPage/Blanks/Blanks.tsx
  src/pages/userPage/Menu/Menu.tsx
Labels: blanks

#190 Fixes for sorter in user table
  src/pages/UserTable/ColumnsForUserTable.tsx
Labels: User Table

#192 Add new formats for decision creating and fix date formatting
  src/pages/DecisionTable/DecisionTable.tsx
  src/pages/DecisionTable/FormAddDecision.tsx
  src/pages/DecisionTable/columns.tsx
Labels: Type: Bug

#196 Fixed bug with QRCode
  src/api/api.ts
  src/api/blankApi.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/userPage/Blanks/Blanks.tsx
  src/pages/userPage/Blanks/UserAchievements/ListOfAchievementsModal.tsx
Labels: blanks

#195 Added Notifications for cities and regions
  src/pages/City/City/City.tsx
  src/pages/City/City/CityAdministration.tsx
  src/pages/City/City/CityFollowers.tsx
  src/pages/City/City/CityMembers.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Regions/AddRegionSecretaryForm.tsx
  src/pages/Regions/Region.tsx
  src/pages/Regions/RegionAdministration.tsx
  src/pages/UserTable/ChangeUserRoleForm.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/DeleteDegreeConfirm.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/FormAddPlastDegree.tsx
Labels: Notifications(Сповіщення)

#200 Fix cancel and incorrect date bugs
  src/pages/DecisionTable/DecisionTable.tsx
  src/pages/DecisionTable/FormAddDecision.tsx
  src/pages/DecisionTable/columns.tsx
Labels: Type: Bug

#199 Add Facebook authorization
  package-lock.json
  package.json
  src/api/authorizeApi.ts
  src/pages/SignIn/FacebookDataInterface.tsx
  src/pages/SignIn/FacebookLoginWrapper.tsx
  src/pages/SignIn/GoogleLoginWrapper.tsx
  src/pages/SignIn/SignIn.module.css
  src/pages/SignIn/SignIn.tsx
Labels: enhancement

#205 Fixed search for User Table
  src/pages/UserTable/UserTable.tsx
Labels: User Table

#207 Disable opportunity to choose end date of administration earlier than start date
  src/App.tsx
  src/api/api.ts
  src/api/regionsApi.tsx
  src/pages/Error/NotAuthorized.tsx
  src/pages/Regions/AddRegionSecretaryForm.tsx
  src/pages/Regions/RegionAdministration.tsx
  src/pages/UserTable/AddRegionAdministratorForm.tsx
  src/pages/UserTable/ColumnsForUserTable.tsx
  src/pages/UserTable/DropDownUserTable.tsx
Labels: Regions

#212 Added creating notifications for User Table
  src/pages/City/City/CityAdministration.tsx
  src/pages/City/City/CityMembers.tsx
  src/pages/UserTable/ChangeUserCityForm.tsx
  src/pages/UserTable/ChangeUserClubForm.tsx
  src/pages/UserTable/ChangeUserRegionForm.tsx
  src/pages/UserTable/ChangeUserRoleForm.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/FormAddPlastDegree.tsx
Labels: Notifications(Сповіщення)

#210 Created statistics for cities
  debug.log
  src/App.tsx
  src/api/StatisticsApi.tsx
  src/api/api.ts
  src/components/PrivateLayout/PrivateLayout.tsx
  src/pages/Statistics/Interfaces/CitiesStatisticsParameters.tsx
  src/pages/Statistics/Interfaces/City.tsx
  src/pages/Statistics/Interfaces/CityStatistics.tsx
  src/pages/Statistics/Interfaces/DataFromResponse.tsx
  src/pages/Statistics/Interfaces/MembersStatistics.ts
  src/pages/Statistics/Interfaces/Region.tsx
  src/pages/Statistics/Interfaces/RegionStatistics.tsx
  src/pages/Statistics/Interfaces/StatisticsItem.tsx
  src/pages/Statistics/Interfaces/StatisticsItemIndicator.tsx
  src/pages/Statistics/Interfaces/YearStatistics.tsx
  src/pages/Statistics/StatisticsCities.tsx
  src/pages/Statistics/StatisticsRegion.tsx
Labels: Statistics

#176 Notifications through WebSockets
  src/components/Header/HeaderContainer.tsx
  src/components/NotificationBox/SignalRConnection.tsx
  src/components/NotificationBox/WebSocketConnection.tsx
Labels: Notifications(Сповіщення)

#202 Region annual report
  src/api/regionsApi.tsx
  src/pages/AnnualReport/AnnualReportTable/AnnualReportTable.tsx
  src/pages/AnnualReport/AnnualReportTable/CityAnnualReportTable.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForRegionReports/ConfirmedDropdown/ConfirmedRegionDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForRegionReports/ConfirmedDropdown/ConfirmedRegionDropdownProps.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForRegionReports/Dropdown.module.css
  src/pages/AnnualReport/AnnualReportTable/Form.module.css
  src/pages/AnnualReport/AnnualReportTable/FormAnnualReportRegion.tsx
  src/pages/AnnualReport/AnnualReportTable/RegionAnnualReportInformation.tsx
  src/pages/AnnualReport/AnnualReportTable/RegionAnnualReportTable.tsx
  src/pages/AnnualReport/Interfaces/AnnualReport.ts
  src/pages/AnnualReport/Interfaces/RegionAnnualReports.ts
Labels: RegionAnnualReport

#213 Improve facebook login and change error message for wrong email
  src/pages/DecisionTable/FormAddDecision.tsx
  src/pages/DecisionTable/FormEditDecision.tsx
  src/pages/DecisionTable/columns.tsx
  src/pages/SignIn/FacebookDataInterface.tsx
  src/pages/SignIn/FacebookLoginWrapper.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/SignUp.tsx
  src/pages/SignUp/verification.ts
Labels: enhancement

#214 Fixes: filter and buttons for user table, incorrect list of mandatory fields for region
  src/pages/City/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/City/City/City.tsx
  src/pages/Club/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/Regions/AddRegion.tsx
  src/pages/Regions/AddRegionSecretaryForm.tsx
  src/pages/Regions/Region.tsx
  src/pages/Regions/RegionEdit.tsx
  src/pages/UserTable/AddRegionAdministratorForm.tsx
  src/pages/UserTable/ChangeUserCityForm.tsx
  src/pages/UserTable/ChangeUserClubForm.tsx
  src/pages/UserTable/ChangeUserRegionForm.tsx
  src/pages/UserTable/ChangeUserRoleForm.tsx
  src/pages/UserTable/ColumnsForUserTable.tsx
  src/pages/UserTable/Filter.less
Labels: Regions, User Table

#215 Added visibility to select city for creating report
  src/pages/AnnualReport/AnnualReportTable/AnnualReportTable.tsx
  src/pages/AnnualReport/AnnualReportTable/CityAnnualReportTable.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForRegionReports/ConfirmedDropdown/ConfirmedRegionDropdown.tsx
Labels: RegionAnnualReport

#216 Fix filter
  src/pages/UserTable/Filter.less
Labels: User Table

#217 Changed region anual report model
  src/pages/AnnualReport/AnnualReportTable/AnnualReportTable.tsx
  src/pages/AnnualReport/AnnualReportTable/FormAnnualReportRegion.tsx
Labels: RegionAnnualReport

#218 Added notifications for city and region admins of user
  src/api/NotificationBoxApi.tsx
  src/api/adminApi.tsx
  src/pages/Distinction/DistinctionTable/DistinctionTable.tsx
  src/pages/Distinction/DistinctionTable/FormAddDistinction.tsx
  src/pages/KadraVykhovnykiv/AddNewKadraForm.tsx
  src/pages/KadraVykhovnykiv/KVTable.tsx
Labels: Notifications(Сповіщення)

#224 Tried to fix dates in active membership
  src/pages/userPage/ActiveMembership/UserDates/ModalChangeUserDates.tsx
Labels: Active Membership

#227 Created all fuctionality for regions statistics.
  src/App.tsx
  src/api/StatisticsApi.tsx
  src/api/regionsApi.tsx
  src/components/PrivateLayout/PrivateLayout.tsx
  src/pages/Statistics/Interfaces/RegionStatistics.tsx
  src/pages/Statistics/Interfaces/RegionsStatisticsParameters.tsx
  src/pages/Statistics/StatisticsRegion.tsx
  src/pages/Statistics/StatisticsRegions.tsx
Labels: Statistics

#228 Fixed adding plast degrees for user table
  src/pages/userPage/ActiveMembership/PlastDegree/ModalAddPlastDegree.tsx
  src/pages/userPage/ActiveMembership/UserDates/ModalChangeUserDates.tsx
Labels: Active Membership, Type: Bug

#231 Added model for club annual report
  src/pages/Actions/ActionEvent/EventInfo/EventInfo.less
  src/pages/AnnualReport/AnnualReportTable/AnnualReportTable.tsx
  src/pages/AnnualReport/AnnualReportTable/CityAnnualReportTable.tsx
  src/pages/AnnualReport/AnnualReportTable/ClubAnnualReport.tsx
  src/pages/AnnualReport/AnnualReportTable/ClubSelectModal/ClubSelectModal.less
  src/pages/AnnualReport/AnnualReportTable/ClubSelectModal/ClubSelectModal.tsx
  src/pages/AnnualReport/AnnualReportTable/RegionAnnualReportTable.tsx
  src/pages/AnnualReport/Interfaces/ClubAnnualReport.ts
Labels: RegionAnnualReport

#230 Fixes for NotificationBox
  src/api/NotificationBoxApi.tsx
  src/components/Header/HeaderContainer.tsx
Labels: Notifications(Сповіщення)

#236 Changed Active Membership design
  src/pages/userPage/ActiveMembership/ActiveMembership.module.css
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
Labels: Active Membership

#238 Fix placeholders alignment
  src/pages/SignIn/SignIn.less
Labels: Type: Bug

#240 Fixes for clubs, cities, regions
  src/models/GllobalValidations/DescriptionValidation.tsx
  src/models/Region/RegionProfile.tsx
  src/pages/City/CreateCity/CityTableColumns.tsx
  src/pages/City/CreateCity/CreateCity.tsx
  src/pages/Club/CreateClub/ClubTableColumns.tsx
  src/pages/Club/CreateClub/CreateClub.tsx
  src/pages/Regions/AddRegion.tsx
  src/pages/Regions/Region.tsx
  src/pages/Regions/RegionEdit.tsx
Labels: Type: Enhancement

#247 Changed design for active membership
  src/pages/userPage/ActiveMembership/ActiveMembership.module.css
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
Labels: Active Membership

#248 Fix validation password message
  src/pages/SignUp/verification.ts
Labels: Type: Bug

#253 Statistics chart
  package-lock.json
  package.json
  src/pages/Statistics/StatisticsCities.less
  src/pages/Statistics/StatisticsCities.tsx
Labels: Statistics

#256 Count of members for cities, clubs and regions
  src/pages/City/City/City.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Regions/Region.tsx
Labels: Regions

#257 Statistics chart
  src/pages/Statistics/Interfaces/MembersStatistics.ts
  src/pages/Statistics/StatisticsCities.less
  src/pages/Statistics/StatisticsCities.tsx
Labels: Statistics

#255 Fixed bug with DocumentShare
  src/api/citiesApi.tsx
  src/api/clubsApi.tsx
  src/api/decisionsApi.tsx
  src/api/regionsApi.tsx
  src/components/Header/Header.module.css
  src/components/Header/HeaderContainer.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.module.css
Labels: Type: Bug
