Repository ita-social-projects/EPlast-Client, pull requests merged in 2021-04, with the labels that each got.

#318 Users table filter
  src/api/adminApi.tsx
  src/api/clubsApi.tsx
  src/models/UserTable/UserTable.tsx
  src/pages/Statistics/StatisticsCities.tsx
  src/pages/UserTable/ColumnsForUserTable.tsx
  src/pages/UserTable/Interfaces/Degree.tsx
  src/pages/UserTable/Interfaces/TableFilterParameters.tsx
  src/pages/UserTable/UserTable.module.css
  src/pages/UserTable/UserTable.tsx
Labels: User Table

#337 View basic info And Security model
  src/App.tsx
  src/api/api.ts
  src/api/decisionsApi.tsx
  src/api/governingBodiesApi.tsx
  src/api/regionsBoardApi.tsx
  src/pages/Actions/ActionEvent/EventInfo/FormAddPictures.tsx
  src/pages/Distinction/DistinctionTable/FormEditDistinction.tsx
  src/pages/GoverningBody/CreateGoverningBody.tsx
  src/pages/GoverningBody/GoverningBodies.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBody.less
  src/pages/GoverningBody/GoverningBody/GoverningBody.tsx
  src/pages/KadraVykhovnykiv/AddNewKadraForm.tsx
  src/pages/Regions/Region.tsx
  src/pages/RegionsBoard/RegionBoard.tsx
  src/pages/RegionsBoard/RegionBoardAdministration.tsx
Labels: Governing bodies, Regions Board, Security Model

#342 New and updated notifications
  src/models/City/CityMember.tsx
  src/pages/City/City/City.tsx
  src/pages/userPage/Approvers/Approvers.tsx
Labels: Notifications(Сповіщення)

#351 Add access for User Table
  src/api/citiesApi.tsx
  src/pages/UserTable/DropDownUserTable.tsx
  src/pages/UserTable/UserTable.tsx
Labels: User Table
