Repository ita-social-projects/EPlast-Client, pull requests merged in 2021-01, with the labels that each got.

#284 User history navigation
  src/App.less
  src/App.tsx
  src/components/Footer/FooterContainer.tsx
  src/components/Header/Header.module.css
  src/components/Header/HeaderContainer.tsx
  src/components/HistoryNavi/HistoryDrawer.tsx
  src/components/HistoryNavi/historyPseudo.tsx
  src/components/PrivateLayout/PrivateLayout.module.css
  src/components/PrivateLayout/PrivateLayout.tsx
  src/index.tsx
  src/pages/City/Cities/Cities.tsx
  src/pages/City/City/City.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Club/Clubs/Clubs.tsx
  src/pages/Distinction/DistinctionTable/DistinctionTable.tsx
  src/pages/Regions/Region.tsx
  src/pages/Regions/RegionsPage.tsx
  src/pages/UserTable/DropDownUserTable.tsx
  src/pages/userPage/personalData/UserFields.tsx
Labels: HistoryBar

#286 Access layers
  src/components/PrivateLayout/PrivateLayout.tsx
  src/pages/DecisionTable/DecisionTable.tsx
  src/pages/DecisionTable/DropDownDecision.tsx
  src/pages/Regions/Region.tsx
  src/pages/UserTable/DropDownUserTable.tsx
Labels: enhancement

#287 Removed duplicates
  src/components/PrivateLayout/PrivateLayout.tsx
Labels: duplicate

#289 FixRegionHistoryAndBackButton
  src/pages/Club/Club/Club.tsx
  src/pages/Regions/Region.tsx
  src/pages/userPage/Approvers/Approvers.less
Labels: Regions

#290 Add secretary for cities and clubs
  src/pages/City/AddAdministratorModal/AddCitiesSecretaryForm.tsx
  src/pages/City/City/City.tsx
  src/pages/Club/AddAdministratorModal/AddClubsSecretaryForm.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Regions/AddRegionSecretaryForm.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/FormAddPlastDegree.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/ModalAddPlastDegree.tsx
Labels: Active Membership, City, Clubs

#297 AddingPrecautionStatusesFront
  src/pages/Precaution/Interfaces/UserPrecaution.tsx
  src/pages/Precaution/PrecautionTable/DropDownPrecautionTable.tsx
  src/pages/Precaution/PrecautionTable/EditPrecautionModal.tsx
  src/pages/Precaution/PrecautionTable/FormAddPrecaution.tsx
  src/pages/Precaution/PrecautionTable/FormEditPrecaution.tsx
  src/pages/Precaution/PrecautionTable/PrecautionTable.tsx
  src/pages/Precaution/PrecautionTable/columns.tsx
  src/pages/userPage/personalData/AvatarAndProgress.tsx
Labels: Precaution

#298 FixAddModalButton
  src/pages/Precaution/PrecautionTable/FormAddPrecaution.tsx
Labels: Precaution

#304 AddingPrecautionEndDate
  src/pages/Precaution/Interfaces/UserPrecaution.tsx
  src/pages/Precaution/PrecautionTable/DropDownPrecautionTable.tsx
  src/pages/Precaution/PrecautionTable/EditPrecautionModal.tsx
  src/pages/Precaution/PrecautionTable/FormAddPrecaution.tsx
  src/pages/Precaution/PrecautionTable/FormEditPrecaution.tsx
  src/pages/Precaution/PrecautionTable/PrecautionTable.tsx
  src/pages/Precaution/PrecautionTable/columns.tsx
  src/pages/userPage/personalData/AvatarAndProgress.tsx
Labels: Precaution

#305 FixBugWithPrecautionTable
  src/pages/Precaution/PrecautionTable/FormEditPrecaution.tsx
Labels: Precaution

#306 AddingNewFiltersForPrecautions
  src/pages/Precaution/PrecautionTable/FormAddPrecaution.tsx
  src/pages/Precaution/PrecautionTable/FormEditPrecaution.tsx
  src/pages/Precaution/PrecautionTable/columns.tsx
  src/pages/userPage/personalData/AvatarAndProgress.tsx
Labels: Precaution
