Repository ita-social-projects/EPlast-Client, pull requests merged in 2021-11, with the labels that each got.

#697 Fix user roles filtering in user table
  src/api/adminApi.tsx
  src/pages/UserTable/ColumnsForUserTable.tsx
  src/pages/UserTable/Interfaces/TableFilterParameters.tsx
  src/pages/UserTable/UserTable.module.css
  src/pages/UserTable/UserTable.tsx
Labels: Type: Bug, Type: Enhancement, User Table

#698 Fix filter clear
  src/pages/UserTable/UserTable.tsx
Labels: Type: Bug, User Table

#699 Fixed elements go beyond when narrow the page (Fixes #1884)
  src/components/Header/Header.module.css
  src/index.css
Labels: UI, User Profile

#700 add_slices
  src/pages/City/City/City.tsx
Labels: Cities (Станиці)

#702 Fix using two filters at the same time
  src/pages/UserTable/UserTable.tsx
Labels: Type: Bug, User Table

#703 Comments for context menu ut
  src/pages/UserTable/DropDownUserTable.tsx
  src/pages/UserTable/DropdownItem.tsx
Labels: Type: Maintenances, User Table

#701 add user access
  src/api/citiesApi.tsx
  src/api/regionsApi.tsx
  src/pages/City/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/City/AddAdministratorModal/AddCitiesSecretaryForm.tsx
  src/pages/City/City/City.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Regions/Region.tsx
Labels: Cities (Станиці), Рівні доступу (Access levels)

#705 Regions cities clubs bugs
  src/components/Notifications/Messages.tsx
  src/pages/City/Cities/SortedCities.tsx
  src/pages/City/City/City.tsx
  src/pages/Club/AddAdministratorModal/AddClubsSecretaryForm.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Club/Clubs/SortedClubs.tsx
  src/pages/Regions/Region.tsx
  src/pages/Regions/SortedRegions.tsx
Labels: Type: Bug, Regions, Clubs, Cities (Станиці)

#704 Only oath date could be changed now (fix #1843)
  src/api/activeMembershipApi.ts
  src/pages/UserTable/ChangeUserRoleForm.tsx
  src/pages/userPage/ActiveMembership/UserDates/ModalChangeUserDates.tsx
Labels: Active Membership

#708 Fix filter items deselect
  src/pages/UserTable/UserTable.tsx
Labels: Type: Bug, User Table

#709 add checking
  src/pages/City/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/City/City/City.tsx
Labels: Cities (Станиці)

#711 add diasbled
  src/pages/City/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/City/AddAdministratorModal/AddCitiesSecretaryForm.tsx
Labels: Cities (Станиці)

#712 Fixed several bugs #1949,#2047,#1892
  src/pages/Actions/ActionEvent/EventInfo/PicturesWall.tsx
  src/pages/City/CreateCity/CreateCity.tsx
  src/pages/GoverningBody/GoverningBodies.tsx
  src/pages/RegionsBoard/RegionBoard.tsx
Labels: Type: Maintenances

#713 added and fixed user accesses for events
  src/api/eventUserApi.ts
  src/pages/Actions/ActionEvent/EventInfo/EventInfo.module.css
  src/pages/Actions/ActionEvent/EventInfo/EventInfo.tsx
  src/pages/Actions/ActionEvent/EventInfo/Gallery.tsx
  src/pages/Actions/ActionEvent/EventInfo/ParticipantsTable.tsx
  src/pages/Actions/ActionEvent/EventInfo/SortedEventInfo.tsx
  src/pages/Actions/ActionEvent/EventUser/EventUser.tsx
  src/pages/Actions/EventTypes/EventTypes.tsx
Labels: Events, Рівні доступу (Access levels)

#707 Improve user access for distinctions
  src/api/distinctionApi.tsx
  src/pages/Distinction/DistinctionTable/DistinctionTable.tsx
Labels: Рівні доступу (Access levels), Distinctions

#714 add new moadls and loading for buttons
  src/pages/City/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/City/AddAdministratorModal/AddCitiesSecretaryForm.tsx
  src/pages/City/City/City.tsx
  src/pages/City/City/Modal.module.css
  src/pages/Club/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/Club/AddAdministratorModal/AddClubsSecretaryForm.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Club/Club/Modal.module.css
  src/pages/Regions/AddAdministratorModal.tsx
  src/pages/Regions/AddRegionSecretaryForm.tsx
  src/pages/Regions/Modal.module.css
  src/pages/Regions/Region.tsx
  yarn.lock
Labels: Regions, Cities (Станиці), Hovels (Курені)

#717 edit messages
  src/pages/Club/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/Regions/AddAdministratorModal.tsx
Labels: Regions, Hovels (Курені)

#710 Fixed UI bugs of EditUserPage
  src/pages/userPage/EditUserPage/EditUserPage.tsx
Labels: Type: Bug, UI, User Profile

#719 edit setRegions
  src/pages/City/CreateCity/CreateCity.tsx
Labels: Regions

#718 Fixed approvers cards style ( Fix bug #2013)
  src/pages/userPage/Approvers/Approvers.less
Labels: Type: Bug, UI, User Profile, Approvers ("Поручення")

#720 Add new function SetAdmins
  src/pages/City/City/City.tsx
  src/pages/Club/Club/Club.tsx
Labels: Cities (Станиці), Hovels (Курені)

#721 add loading for button edit/add hovel/city/reagion
  src/pages/City/CreateCity/CreateCity.tsx
  src/pages/Club/CreateClub/CreateClub.tsx
  src/pages/Regions/AddRegion.tsx
  src/pages/Regions/RegionEdit.tsx
Labels: Regions, Cities (Станиці), Hovels (Курені)

#722 About base
  package-lock.json
  src/api/aboutBase.tsx
  src/models/AboutBase/SectionModel.tsx
  src/models/AboutBase/SubsectionModel.tsx
  src/pages/AboutBase/AboutBase.less
  src/pages/AboutBase/AboutBase.tsx
  src/pages/AboutBase/AddSubsectionModal.tsx
  src/pages/AboutBase/DeleteSectConfirm.tsx
  src/pages/AboutBase/DeleteSubsectConfirm.tsx
  src/pages/AboutBase/EditSubsectionModal.tsx
  src/pages/AboutBase/FormAddSubsection.tsx
  src/pages/AboutBase/FormEditSubsection.tsx
  src/pages/AboutBase/Subsections.css
  src/pages/AboutBase/Subsections.tsx
Labels: About base

#723 Add getter by exact roles
  src/api/adminApi.tsx
  src/pages/GoverningBody/AddAdministratorModal/AddGoverningBodiesSecretaryForm.tsx
  src/pages/GoverningBody/Announcement/Announcement.tsx
  src/pages/GoverningBody/Sector/AddSectorAdminForm.tsx
Labels: Type: Enhancement

#724 add user accesses
  src/pages/Club/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/Regions/AddAdministratorModal.tsx
  src/pages/Regions/RegionAdministration.tsx
Labels: Regions

#725 Fixed card height in Annual report
  src/pages/AnnualReport/AnnualReportTable/ClubAnnualReportInformation/ClubAnnualReportInformation.less
  src/pages/AnnualReport/AnnualReportTable/ClubAnnualReportInformation/ClubAnnualReportInformation.tsx
Labels: Type: Bug, UI, AnnualReports, ClubAnnualReport

#728 Fixing bug with adding empty distinctions types
  src/pages/Distinction/DistinctionTable/FormEditDistinctionTypes.tsx
Labels: Type: Bug, Distinctions

#727 Warning update
  src/pages/City/City/CheckActiveMembersForm.tsx
  src/pages/City/City/City.tsx
  src/pages/Club/Club/CheckActiveMembersForm.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Regions/CheckActiveCitiesForm.tsx
Labels: Regions, Cities (Станиці), Hovels (Курені)

#729 Fixed decisions
  src/pages/DecisionTable/DecisionTable.tsx
  src/pages/DecisionTable/DeleteConfirm.tsx
Labels: Decisions (Рішення)

#733 Fix double click highlighted fielgs on Sign in page
  src/components/Footer/Footer.module.css
  src/pages/SignIn/SignIn.module.css
  src/pages/SignUp/SignUp.module.css
Labels: UI

#734 Fix Sign In and Sign Up buttons for mobile devices, Gogle and Faceboo…
  src/pages/SignIn/SignIn.module.css
  src/pages/SignUp/Switcher/Switcher.module.css
Labels: UI

#732 Added pagination in url for cities, regions and hovels.
  src/App.tsx
  src/components/PrivateLayout/PrivateLayout.tsx
  src/pages/City/Cities/ActionCities.tsx
  src/pages/City/Cities/SortedCities.tsx
  src/pages/City/City/City.tsx
  src/pages/City/CreateCity/CreateCity.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Club/Clubs/ActionClubs.tsx
  src/pages/Club/Clubs/SortedClubs.tsx
  src/pages/Interfaces/SwitcherProps.ts
  src/pages/Regions/ActionRegion.tsx
  src/pages/Regions/AddRegion.tsx
  src/pages/Regions/CitiesRedirectForm.tsx
  src/pages/Regions/Region.tsx
  src/pages/Regions/SortedRegions.tsx
  src/pages/userPage/personalData/UserFields.tsx
Labels: Regions, Clubs, Cities (Станиці), Hovels (Курені)

#730 Added User Renewal
  src/App.tsx
  src/api/authorizeApi.ts
  src/api/userRenewalsApi.ts
  src/components/Notifications/Modals.tsx
  src/components/PrivateLayout/PrivateLayout.tsx
  src/pages/UserRenewal/Types/CityForRenewal.ts
  src/pages/UserRenewal/Types/DropDownProps.ts
  src/pages/UserRenewal/Types/UserRenewal.ts
  src/pages/UserRenewal/Types/UserRenewalTableData.ts
  src/pages/UserRenewal/UserRenewal.module.css
  src/pages/UserRenewal/UserRenewal.tsx
  src/pages/UserRenewal/UserRenewalModals.tsx
  src/pages/UserRenewal/UserRenewalTable/DropDownRenewalTable.tsx
  src/pages/UserRenewal/UserRenewalTable/Filter.less
  src/pages/UserRenewal/UserRenewalTable/Table.module.css
  src/pages/UserRenewal/UserRenewalTable/UserRenewalTable.tsx
  src/pages/UserRenewal/UserRenewalTable/columns.tsx
Labels: User renewals

#737 Fixed dropdown module in Annual Reports
  src/pages/AnnualReport/AnnualReportTable/AnnualReportTable.tsx
  src/pages/AnnualReport/AnnualReportTable/ClubAnnualReport.tsx
  src/pages/AnnualReport/AnnualReportTable/Dropdowns/ConfirmedDropdown/ConfirmedDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/Dropdowns/UnconfirmedDropdown/UnconfirmedDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForClubAnnualReports/ConfirmedDropdown/ConfirmedDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForClubAnnualReports/UnconfirmedDropdown/UnconfirmedDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForRegionReports/ConfirmedDropdown/ConfirmedRegionDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForRegionReports/UnconfirmedDropdown/UnconfirmedRegionDropdown.tsx
Labels: Type: Bug, AnnualReports

#736 Administration types fix
  src/models/GllobalValidations/DescriptionValidation.tsx
  src/pages/City/AddAdministratorModal/AddCitiesSecretaryForm.tsx
  src/pages/City/City/City.tsx
  src/pages/Club/AddAdministratorModal/AddClubsSecretaryForm.tsx
  src/pages/Interfaces/SwitcherProps.ts
  src/pages/Regions/AddRegionSecretaryForm.tsx
Labels: Regions, Cities (Станиці), Hovels (Курені)

#735 fixed event editing #1501 #2081
  src/api/eventUserApi.ts
  src/api/eventsApi.ts
  src/components/Notifications/Messages.tsx
  src/pages/Actions/ActionEvent/EventCreate/EventCreate.tsx
  src/pages/Actions/ActionEvent/EventEdit/EventEdit.tsx
  src/pages/Actions/ActionEvent/EventEdit/EventEditDrawer.tsx
  src/pages/Actions/ActionEvent/EventInfo/EventInfo.tsx
  src/pages/Actions/ActionEvent/EventInfo/SortedEventInfo.tsx
  src/pages/Actions/ActionEvent/EventUser/EventUser.tsx
Labels: Events

#742 remove loading
  src/pages/City/City/City.tsx
Labels: Cities (Станиці)

#744 Added mandatory asterisks in creating Club Annual Report
  src/pages/AnnualReport/ClubAnnualReportForm/ClubAnnualReportForm.tsx
Labels: Type: Bug, Hovels (Курені), AnnualReports, ClubAnnualReport
