Repository ita-social-projects/EPlast-Client, pull requests merged in 2021-10, with the labels that each got.

#613 Fixed bug [Провід і члени та прихильники Округи/Станиці/Куреня] users…
  src/components/Tooltip.tsx
  src/pages/City/City/CityAdministration.tsx
  src/pages/Club/Club/ClubAdministration.tsx
  src/pages/Club/Club/ClubMembers.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBodyAdministration.tsx
  src/pages/GoverningBody/Sector/SectorAdministration.tsx
  src/pages/Regions/RegionAdministration.tsx
Labels: Type: Bug, City, Clubs, Governing bodies, Region

#614 Disabled keys that are not required to enter numbers #1381
  src/pages/AnnualReport/AnnualReportForm/AnnualReportForm.tsx
Labels: Type: Bug, AnnualReports

#615 Fix for wrong logo
  public/favicon.ico
  public/logo192.png
  public/logo512.png
  public/manifest.json
  src/logo.svg
Labels: Type: Bug, UI

#617 Fixed confirm a users request in city or hovel and some changes in users table
  src/pages/City/City/City.tsx
  src/pages/City/City/CityAdministration.tsx
  src/pages/City/City/CityMembers.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Club/Club/ClubAdministration.tsx
  src/pages/Club/Club/ClubMembers.tsx
  src/pages/UserTable/DropDownUserTable.tsx
Labels: User Table, UI, Cities (Станиці), Hovels (Курені)

#596 fix search first name+last name in Senior Staff #1380
  src/pages/KadraVykhovnykiv/KVTable.tsx
Labels: Type: Bug

#616 another fix for wrong logo
  public/favicon.ico
  public/index.html
  public/manifest.json
Labels: Type: Bug, UI

#618 Added tooltip for long names and deleted duplicate of name in 'Напрямки…
  src/pages/GoverningBody/Sector/Sectors.tsx
Labels: Type: Maintenances

#621 Fixed highlighted items in left menu ( Fix bug #1534)
  src/components/PrivateLayout/PrivateLayout.tsx
Labels: Type: Bug, UI, Menu

#619 Сhanges are related to the club's annual reports, a new logic of display and storage
  src/components/PrivateLayout/PrivateLayout.tsx
  src/models/Club/ClubUser.tsx
  src/pages/AnnualReport/AnnualReportTable/ClubAnnualReportInformation/ClubAnnualReportInformation.tsx
  src/pages/AnnualReport/ClubAnnualReportCreate/ClubAnnualReportCreate.tsx
  src/pages/AnnualReport/ClubAnnualReportEdit/ClubAnnualReportEdit.tsx
  src/pages/AnnualReport/ClubAnnualReportForm/ClubAnnualReportForm.tsx
  src/pages/AnnualReport/ClubAnnualReportForm/ClubAnnualReportTableColumns.tsx
Labels: Clubs, Hovels (Курені), Degree, AnnualReports

#623 bug fixes with club report display
  src/pages/AnnualReport/ClubAnnualReportForm/ClubAnnualReportTableColumns.tsx
Labels: Clubs, Hovels (Курені), Degree, AnnualReports

#622 Added sector admin display in profile
  src/api/governingBodySectorsApi.tsx
  src/pages/userPage/Secretaries/SecretariesPage.tsx
  src/pages/userPage/Secretaries/SecretaryModel.tsx
  src/pages/userPage/Secretaries/UserSectorSecretaryTable.tsx
  src/pages/userPage/Secretaries/columnsSectors.tsx
Labels: Secretaries ("Діловодства")

#624 FIxed dates - converted from utc to local time ( Fix bug #1730 )
  src/components/NotificationBox/NotificationBox.tsx
  src/pages/Actions/ActionEvent/EventCalendar/EventCalendar.tsx
  src/pages/Actions/ActionEvent/EventCreate/EventCreate.tsx
  src/pages/Actions/ActionEvent/EventEdit/EventEdit.tsx
  src/pages/Actions/ActionEvent/EventUser/EventUser.tsx
  src/pages/AnnualReport/AnnualReportTable/AnnualReportInformation/AnnualReportInformation.tsx
  src/pages/AnnualReport/AnnualReportTable/AnnualReportTable.tsx
  src/pages/AnnualReport/AnnualReportTable/ClubAnnualReportInformation/ClubAnnualReportInformation.tsx
  src/pages/AnnualReport/ClubAnnualReportCreate/ClubAnnualReportCreate.tsx
  src/pages/AnnualReport/ClubAnnualReportEdit/ClubAnnualReportEdit.tsx
  src/pages/City/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/City/AddAdministratorModal/AddCitiesSecretaryForm.tsx
  src/pages/City/City/City.tsx
  src/pages/City/City/CityDocuments.tsx
  src/pages/City/City/CityMembers.tsx
  src/pages/Club/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/Club/AddAdministratorModal/AddClubsSecretaryForm.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Club/Club/ClubDocuments.tsx
  src/pages/Club/Club/ClubMembers.tsx
  src/pages/DecisionTable/columns.tsx
  src/pages/Distinction/DistinctionTable/FormEditDistinction.tsx
  src/pages/Distinction/DistinctionTable/columns.tsx
  src/pages/GoverningBody/AddAdministratorModal/AddGoverningBodiesSecretaryForm.tsx
  src/pages/GoverningBody/AddAdministratorModal/EditAdministratorModal.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBody.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBodyDocuments.tsx
  src/pages/GoverningBody/Sector/AddSectorAdminForm.tsx
  src/pages/GoverningBody/Sector/EditAdminModal.tsx
  src/pages/GoverningBody/Sector/Sector.tsx
  src/pages/GoverningBody/Sector/SectorDocuments.tsx
  src/pages/KadraVykhovnykiv/KVTable.tsx
  src/pages/KadraVykhovnykiv/UpdateKadraForm.tsx
  src/pages/Precaution/PrecautionTable/FormEditPrecaution.tsx
  src/pages/Precaution/PrecautionTable/columns.tsx
  src/pages/Regions/AddAdministratorModal.tsx
  src/pages/Regions/AddRegionSecretaryForm.tsx
  src/pages/Regions/Region.tsx
  src/pages/Regions/RegionDocuments.tsx
  src/pages/RegionsBoard/RegionBoardDocuments.tsx
  src/pages/UserTable/AddRegionAdministratorForm.tsx
  src/pages/UserTable/ColumnsForUserTable.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/ActiveMembership/UserDates/ModalChangeUserDates.tsx
  src/pages/userPage/Approvers/Approvers.tsx
  src/pages/userPage/EditUserPage/EditUserPage.tsx
  src/pages/userPage/Secretaries/columnsCIties.tsx
  src/pages/userPage/Secretaries/columnsClubs.tsx
  src/pages/userPage/Secretaries/columnsGoverningBodies.tsx
  src/pages/userPage/Secretaries/columnsregions.tsx
  src/pages/userPage/personalData/AvatarAndProgressStatic.tsx
Labels: Type: Bug

#620 Removed redirecting to the top of the City and Country statistics pages (Fix bug #1185)
  src/pages/Statistics/StatisticsCities.tsx
  src/pages/Statistics/StatisticsRegions.tsx
Labels: Type: Bug, Statistics

#626 Fixed bug "Meaningless message, when we adding empty document [Рішенн…
  src/pages/City/City/CityDocuments.tsx
  src/pages/Club/Club/ClubDocuments.tsx
  src/pages/DecisionTable/FormAddDecision.tsx
  src/pages/Documents/FormAddDocument.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBodyDocuments.tsx
  src/pages/GoverningBody/Sector/SectorDocuments.tsx
  src/pages/Regions/RegionAdministration.tsx
  src/pages/Regions/RegionDocuments.tsx
  src/pages/RegionsBoard/RegionBoardDocuments.tsx
Labels: documentation, Type: Maintenances

#625 Fixed confirm a users request in city or hovel and some changes in users table
  src/pages/City/City/City.tsx
  src/pages/Club/Club/Club.tsx
Labels: UI, Cities (Станиці), Hovels (Курені)

#628 Changed CSS to fix bug #1774
  src/pages/Actions/ActionEvent/EventUser/EventUser.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/Approvers/Approvers.tsx
  src/pages/userPage/Blanks/Blanks.module.css
  src/pages/userPage/Blanks/Blanks.tsx
  src/pages/userPage/Interface/Interface.tsx
  src/pages/userPage/Menu/Menu.tsx
  src/pages/userPage/Secretaries/SecretariesPage.tsx
  src/pages/userPage/personalData/PersonalData.tsx
  src/pages/userPage/personalData/UserFields.tsx
Labels: Type: Bug, UI

#629 Fixed decision icon size
  src/pages/RegionsBoard/RegionBoard.tsx
Labels: Regions Board, Decisions (Рішення)

#630 Added to context provider image to avoid multiple requests for the same image in UserPage
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/Interface/Interface.tsx
  src/pages/userPage/personalData/AvatarAndProgressStatic.tsx
  src/pages/userPage/personalData/PersonalData.tsx
Labels: User Profile

#635 Fixed notification (Bug #1675)
  src/api/adminApi.tsx
  src/models/UserTable/ShortUserInfo.tsx
  src/pages/GoverningBody/Announcement/Announcement.tsx
Labels: Type: Bug, Notifications(Сповіщення)

#643 Fix bug #1901 (search field length)
  src/pages/UserTable/UserTable.tsx
Labels: Type: Bug, User Table

#644 Fix for bug #1834
  src/pages/AnnualReport/RegionAnnualReportForm/RegionAnnualReportForm.less
Labels: Type: Bug, RegionAnnualReport, UI, AnnualReports

#642 Dropdown logic rewritten as CoR
  src/models/Roles/AdminRole.tsx
  src/models/Roles/NonAdminRole.tsx
  src/models/Roles/Roles.tsx
  src/models/UserTable/DropdownFunc.tsx
  src/pages/UserTable/DropDownUserTable.tsx
  src/pages/UserTable/DropdownItem.tsx
  src/pages/UserTable/UserTable.tsx
Labels: Type: Enhancement, User Table, UI

#647 Fix user profile styles (Fix bug #1883)
  src/pages/userPage/ActiveMembership/ActiveMembership.module.css
  src/pages/userPage/personalData/PersonalData.less
Labels: Type: Bug, UI, User Profile

#646 fixed bug with elements overflow #1900
  src/pages/AnnualReport/ClubAnnualReportForm/ClubAnnualReportForm.less
  src/pages/AnnualReport/ClubAnnualReportForm/ClubAnnualReportForm.tsx
Labels: Type: Bug, UI, AnnualReports, ClubAnnualReport

#652 Added a few improvents to events, user profile(pseudo), change/reset …
  src/pages/Actions/ActionEvent/EventInfo/EventInfo.tsx
  src/pages/Actions/ActionEvent/EventInfo/FormAddPictures.tsx
  src/pages/Actions/ActionEvent/SortedEvents.tsx
  src/pages/Actions/Actions.tsx
  src/pages/Actions/EventTypes/EventTypes.tsx
  src/pages/Actions/EventsModals.tsx
  src/pages/ChangePassword/ChangePassword.tsx
  src/pages/RegionsBoard/RegionBoard.tsx
  src/pages/ResetPassword/ResetPassword.tsx
  src/pages/userPage/EditUserPage/EditUserPage.tsx
Labels: Type: Bug, Type: Maintenances, Events, User Profile

#654 Country, City and Hovel Admin can view 'Дійсне членство' of the registered user's profile (Fixes bug #1932)
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
Labels: Type: Bug, User Profile

#651 Region annual report form title overflow
  src/pages/AnnualReport/RegionAnnualReportForm/RegionAnnualReportForm.less
  src/pages/AnnualReport/RegionAnnualReportForm/RegionAnnualReportForm.tsx
Labels: Type: Bug, RegionAnnualReport, UI, AnnualReports

#653 Club annual report information elements overflow
  src/pages/AnnualReport/AnnualReportTable/AnnualReportInformation/AnnualReportInformation.less
  src/pages/AnnualReport/AnnualReportTable/ClubAnnualReportInformation/ClubAnnualReportInformation.less
  src/pages/AnnualReport/AnnualReportTable/ClubAnnualReportInformation/ClubAnnualReportInformation.tsx
Labels: Type: Bug, UI, AnnualReports, ClubAnnualReport

#658 Add region name in pop up menu
  src/pages/Club/Club/Club.tsx
  src/pages/Regions/RegionsDetailDrawer.tsx
  src/pages/Regions/SortedRegions.tsx
Labels: Regions

#660 Update validations
  src/pages/Regions/RegionEdit.tsx
Labels: Regions

#655 FIxed bug with document (#1927)
  src/pages/GoverningBody/AddDocumentModal/AddDocumentModal.tsx
  src/pages/GoverningBody/Sector/AddDocumentModal.tsx
  src/pages/RegionsBoard/AddDocModal.tsx
Labels: Type: Bug, Governing bodies, Regions Board

#696 Fix user profile bugs (Fixes #1991 #1977)
  src/pages/Actions/ActionEvent/EventUser/EventUser.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.module.css
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/personalData/PersonalData.less
  src/pages/userPage/personalData/UserFields.tsx
Labels: Type: Bug, Active Membership, UI, User Profile
