Repository ita-social-projects/EPlast-Client, pull requests merged in 2021-08, with the labels that each got.

#496 Fixed bugs (#1530, #1520, and one more about set first letter in city uppercased)
  src/components/PrivateLayout/PrivateLayout.tsx
  src/pages/DecisionTable/DecisionTable.tsx
  src/pages/DecisionTable/Table.module.css
  src/pages/userPage/EditUserPage/EditUserPage.tsx
  src/pages/userPage/Secretaries/Secretaries.less
  src/pages/userPage/personalData/UserFields.tsx
Labels: Menu, Type: Bug, User Profile

#494 Small refactor and set constraint for edit admin form to set end date…
  src/pages/City/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/City/AddAdministratorModal/AddCitiesSecretaryForm.tsx
Labels: Cities (Станиці), Type: Maintenances

#499 Small refactor and set constraint for edit admin form to set end date…
  src/pages/Club/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/Club/AddAdministratorModal/AddClubsSecretaryForm.tsx
Labels: Clubs, Hovels (Курені), Type: Maintenances

#498 Fixed bug (the long title of the award goes to another page. #1533)
  src/components/PrivateLayout/PrivateLayout.tsx
  src/pages/Distinction/DistinctionTable/FormEditDistinctionTypes.tsx
  src/pages/Distinction/DistinctionTable/columns.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/FormAddPlastDegree.tsx
  src/pages/userPage/personalData/AvatarAndProgressStatic.tsx
  src/pages/userPage/personalData/PersonalData.less
  src/pages/userPage/personalData/UserFields.tsx
Labels: Awards (Відзначення), Type: Maintenances, User Profile

#495 Adde active status to Regions, Cities, Clubs
  src/App.tsx
  src/api/citiesApi.tsx
  src/api/clubsApi.tsx
  src/api/regionsApi.tsx
  src/pages/City/Cities/ActionCities.module.css
  src/pages/City/Cities/ActionCities.tsx
  src/pages/City/Cities/SortedCities.tsx
  src/pages/City/City/CheckActiveMembersForm.less
  src/pages/City/City/CheckActiveMembersForm.tsx
  src/pages/City/City/City.less
  src/pages/City/City/City.tsx
  src/pages/City/City/Form.module.css
  src/pages/Club/Club/CheckActiveMembersForm.less
  src/pages/Club/Club/CheckActiveMembersForm.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Club/Club/Form.module.css
  src/pages/Club/Clubs/ActionClubs.module.css
  src/pages/Club/Clubs/ActionClubs.tsx
  src/pages/Club/Clubs/Clubs.tsx
  src/pages/Club/Clubs/SortedClubs.tsx
  src/pages/Regions/ActionRegion.module.css
  src/pages/Regions/ActionRegion.tsx
  src/pages/Regions/CheckActiveCitiesForm.less
  src/pages/Regions/CheckActiveCitiesForm.tsx
  src/pages/Regions/Region.tsx
  src/pages/Regions/SortedRegions.tsx
Labels: Cities (Станиці), Hovels (Курені), Regions, UI

#501 Fixed a few bugs on Hovels
  src/models/GllobalValidations/DescriptionValidation.tsx
  src/pages/City/AddDocumentModal/AddDocumentModal.tsx
  src/pages/City/City/CityMembers.tsx
  src/pages/Club/AddDocumentModal/AddDocumentModal.tsx
  src/pages/Club/Club/ClubAdministration.tsx
  src/pages/Club/Club/ClubMembers.tsx
  src/pages/Club/Clubs/SortedClubs.tsx
  src/pages/Club/CreateClub/CreateClub.tsx
Labels: Hovels (Курені)

#500 #1559 Title in club modal in UserTable
  src/pages/Club/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/Club/Club/ClubAdministration.tsx
  src/pages/Club/Club/ClubMembers.tsx
  src/pages/UserTable/ChangeUserClubModal.tsx
Labels: Clubs, Hovels (Курені), User Table

#502 added a report button for the deputy #1567
  src/components/PrivateLayout/PrivateLayout.tsx
Labels: Clubs, Hovels (Курені), Menu

#504 Fixed [Delegations/ Поручення] [City Admin] Delegations are not aligned on the "Поручення" tab #1569, other bugs #1509,#1510,1486
  src/pages/AnnualReport/AnnualReportTable/AnnualReportTable.tsx
  src/pages/Documents/DocumentsTable.tsx
  src/pages/Regions/RegionAdministration.tsx
  src/pages/userPage/Approvers/Approvers.tsx
  src/pages/userPage/Blanks/Blanks.tsx
Labels: Approvers ("Поручення"), Type: Bug, Рівні доступу (Access levels)

#505 #1468 Add possibility to cancel request for joining
  src/pages/AnnualReport/ClubAnnualReportForm/ClubAnnualReportForm.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Club/Club/ClubFollowers.tsx
Labels: Clubs, Hovels (Курені)

#506 Fixed a few bugs on clubs
  src/pages/Club/Club/Club.tsx
  src/pages/Club/Club/ClubAdministration.tsx
  src/pages/Club/Club/ClubDocuments.tsx
Labels: Hovels (Курені), Type: Bug, Рівні доступу (Access levels)

#507 Fix delegations
  src/pages/Distinction/DistinctionTable/DeleteTypeConfirm.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/DeleteDegreeConfirm.tsx
  src/pages/userPage/Approvers/Approvers.tsx
Labels: Approvers ("Поручення"), Notifications(Сповіщення)

#508 #1552 Fix Failed request on user page
  src/pages/Actions/ActionEvent/EventUser/EventUser.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/Approvers/Approvers.tsx
  src/pages/userPage/Blanks/Blanks.tsx
  src/pages/userPage/Secretaries/SecretariesPage.tsx
  src/pages/userPage/personalData/AvatarAndProgressStatic.tsx
  src/pages/userPage/personalData/UserFields.tsx
Labels: Type: Bug, User Profile

#509 fix added reports to the menu club depytty
  src/components/PrivateLayout/PrivateLayout.tsx
Labels: Menu, Type: Bug

#510 #1532 Fix cursor disappeared
  src/pages/Club/CreateClub/CreateClub.tsx
Labels: Clubs, Hovels (Курені), Type: Bug

#511 Fixed bugs on hovel and region follower create button
  src/pages/City/Cities/Cities.less
  src/pages/Club/Clubs/SortedClubs.tsx
Labels: Cities (Станиці), Clubs, Hovels (Курені), Type: Bug

#512 add possibility to cancel request for joining City#1468
  src/pages/City/City/City.tsx
  src/pages/City/City/CityFollowers.tsx
Labels: City, Configuration

#513 Added confirmation modal on head deputy change
  src/pages/City/City/City.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Regions/Region.tsx
Labels: City, Hovels (Курені), Region, Type: Enhancement

#514 added tooltips#1588
  src/pages/Documents/DocumentsTable.tsx
  src/pages/Documents/columns.tsx
  src/pages/RegionsBoard/RegionBoard.tsx
  src/pages/userPage/Secretaries/columnsClubs.tsx
Labels: Type: Maintenances, Secretaries ("Діловодства"), Repository

#516 Fixed bugs in Region, Clubs, Cities
  src/models/City/CityProfile.tsx
  src/models/Club/ClubProfile.tsx
  src/models/Region/RegionProfile.tsx
  src/pages/City/Cities/SortedCities.tsx
  src/pages/City/City/City.tsx
  src/pages/City/CreateCity/CreateCity.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Club/Clubs/SortedClubs.tsx
  src/pages/Club/CreateClub/CreateClub.tsx
  src/pages/Regions/AddRegion.tsx
  src/pages/Regions/Region.tsx
  src/pages/Regions/RegionEdit.tsx
  src/pages/Regions/SortedRegions.tsx
Labels: Type: Bug, Regions, Cities (Станиці), Hovels (Курені)

#515 [Mobile]Infotip is displayed after clicking on "Крайовий Провід Пласт…
  src/components/PrivateLayout/PrivateLayout.tsx
Labels: Type: Bug, Menu

#517 Fixed [Cities] As a deputy of city admin user couldn't add a degree of 'adherent' #1591
  src/pages/userPage/ActiveMembership/PlastDegree/FormAddPlastDegree.tsx
Labels: Type: Bug, Degree, Рівні доступу (Access levels)

#518 Fixed A long title of file is cut in the notifications, upload components (#1516)
  src/components/Notifications/Messages.tsx
  src/pages/Actions/EventsModals.tsx
  src/pages/City/AddDocumentModal/AddDocumentModal.tsx
  src/pages/Club/AddDocumentModal/AddDocumentModal.tsx
  src/pages/DecisionTable/FormAddDecision.tsx
  src/pages/Documents/FormAddDocument.tsx
  src/pages/GoverningBody/AddDocumentModal/AddDocumentModal.tsx
  src/pages/GoverningBody/Sector/AddDocumentModal.tsx
  src/pages/Regions/AddDocModal.tsx
  src/pages/RegionsBoard/AddDocModal.tsx
  src/pages/userPage/Blanks/UserAchievements/AddAchievementsModal.tsx
  src/pages/userPage/Blanks/UserAchievements/ListOfAchievementsModal.tsx
  src/pages/userPage/Blanks/UserBiography/AddBiographyModal.tsx
  src/pages/userPage/Blanks/UserExtractFromUPU/AddExtractFromUPUModal.tsx
Labels: Type: Maintenances, blanks, Notifications(Сповіщення)

#519 Fixed [Regions] We can see more than nine cities on page regions, more than six admins #1578
  src/pages/City/City/City.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Regions/AddRegionSecretaryForm.tsx
  src/pages/Regions/Region.tsx
Labels: Type: Bug, Region

#520 Fixed [Events/Події] The number of items is not displayed correctly w…
  src/pages/Actions/Actions.tsx
Labels: Type: Bug, Events

#521 Fixed bugs on edit city button and required index message, added some new notification after region follower creating
  src/models/GllobalValidations/DescriptionValidation.tsx
  src/pages/City/CreateCity/CreateCity.tsx
Labels: Type: Bug, Notifications(Сповіщення), City, Region

#522 Fixed notification after deleting or editing region
  src/pages/Regions/Region.tsx
Labels: Notifications(Сповіщення), Region

#523 Fixed region followers "more" button
  src/pages/Regions/Region.tsx
Labels: Type: Bug, Region, Рівні доступу (Access levels)

#524 Fixed some code convention on region administration page
  src/pages/Regions/RegionAdministration.tsx
Labels: Notifications(Сповіщення), Region

#525 Added tooltips on blank
  src/pages/userPage/Blanks/Blanks.tsx
  src/pages/userPage/Blanks/UserAchievements/ListOfAchievementsModal.tsx
Labels: blanks, User Profile

#526 Cities bugs
  src/pages/City/Cities/SortedCities.tsx
  src/pages/City/City/CityAdministration.tsx
  src/pages/City/City/CityDocuments.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Club/Clubs/SortedClubs.tsx
  src/pages/Regions/Region.tsx
  src/pages/Regions/SortedRegions.tsx
Labels: Type: Bug, Regions, Clubs, Cities (Станиці), Рівні доступу (Access levels)

#529 Fixed bugs on Desicions/Precautions/Distinctions
  src/components/Notifications/Messages.tsx
  src/pages/Actions/ActionEvent/EventCreate/EventCreate.tsx
  src/pages/Actions/ActionEvent/EventEdit/EventEdit.tsx
  src/pages/DecisionTable/FormAddDecision.tsx
  src/pages/DecisionTable/FormEditDecision.tsx
  src/pages/Distinction/DistinctionTable/FormAddDistinction.tsx
  src/pages/Distinction/DistinctionTable/FormEditDistinction.tsx
  src/pages/Precaution/PrecautionTable/FormAddPrecaution.tsx
  src/pages/Precaution/PrecautionTable/FormEditPrecaution.tsx
Labels: Type: Maintenances, Events, Precaution, Awards (Відзначення), Decisions (Рішення)

#530 Changes street to slogan for Hovel/Club
  src/models/Club/ClubProfile.tsx
  src/models/GllobalValidations/DescriptionValidation.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Club/ClubDetailDrawer/ClubDetailDrawer.tsx
  src/pages/Club/CreateClub/CreateClub.tsx
  src/pages/DecisionTable/FormEditDecision.tsx
Labels: Hovels (Курені)

#532 Fixed [Провід] The system does not display the long job title completely #1641
  src/pages/City/City/CityAdministration.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Club/Club/ClubAdministration.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBodyAdministration.tsx
  src/pages/GoverningBody/Sector/SectorAdministration.tsx
  src/pages/Regions/RegionAdministration.tsx
Labels: Type: Maintenances

#534 Fixed [Documents] Alignment issue on a Country Documents tab #1240 an…d heigth in city/club/region followers,members,admins cards
  src/pages/City/City/City.less
  src/pages/Club/Club/Club.less
  src/pages/GoverningBody/GoverningBody/GoverningBody.less
  src/pages/GoverningBody/Sector/Sector.tsx
  src/pages/Regions/Region.less
  src/pages/Regions/Region.tsx
  src/pages/Regions/RegionDocuments.tsx
  src/pages/RegionsBoard/RegionBoardDocuments.tsx
Labels: documentation, Type: Maintenances, City, Clubs, Governing bodies, Region

#535 Fixed [Events/Події] The full names are not displayed when hovering o…
  src/pages/ActionCard/ActionCard.tsx
  src/pages/Club/Club/ClubDocuments.tsx
Labels: Type: Maintenances, Events

#536 Fix for create region, city, hovel, region follower fields
  src/components/Notifications/Messages.tsx
  src/models/GllobalValidations/DescriptionValidation.tsx
  src/pages/City/CreateCity/CreateCity.tsx
  src/pages/Club/CreateClub/CreateClub.tsx
  src/pages/GoverningBody/CreateGoverningBody.tsx
  src/pages/GoverningBody/Sector/CreateSector.tsx
  src/pages/GoverningBody/Sector/EditSector.tsx
  src/pages/Regions/AddRegion.tsx
  src/pages/Regions/RegionEdit.tsx
  src/pages/RegionsBoard/RegionBoardEdit.tsx
Labels: Type: Bug, City, UI, Hovels (Курені), Region

#537 Removed pointer on unavailable region followers
  src/pages/Regions/Region.tsx
  src/pages/Regions/RegionFollowers.tsx
Labels: UI, Region

#539 Added ability to edit decision created by yourself for deputies + 1li…
  src/pages/City/City/City.less
  src/pages/Club/Club/Club.less
  src/pages/DecisionTable/DropDownDecision.tsx
  src/pages/Regions/Region.less
Labels: Type: Bug, documentation, Decisions (Рішення)

#540 Fixed fixed dropdown after clicking on another tab on User Table
  src/pages/DecisionTable/FormAddDecision.tsx
  src/pages/UserTable/UserTable.tsx
Labels: User Table

#541 Changed modal on adding admin to city, region from user table
  src/pages/City/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/City/AddAdministratorModal/AddCitiesSecretaryForm.tsx
  src/pages/Club/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/Regions/AddAdministratorModal.tsx
  src/pages/UserTable/ChangeUserCityForm.tsx
  src/pages/UserTable/ChangeUserCityModal.tsx
  src/pages/UserTable/ChangeUserClubModal.tsx
  src/pages/UserTable/ChangeUserRegionForm.tsx
  src/pages/UserTable/ChangeUserRegionModal.tsx
  src/pages/UserTable/DropDownUserTable.tsx
Labels: Type: Bug, User Table, Regions, Cities (Станиці), Hovels (Курені)

#544 Fixed some access for Plast Member at Blanks and removed interested from dropdown
  src/pages/UserTable/ChangeUserRoleForm.tsx
  src/pages/userPage/Blanks/Blanks.tsx
  src/pages/userPage/Blanks/UserAchievements/ListOfAchievementsModal.tsx
Labels: blanks, Рівні доступу (Access levels)

#543 Added function addTooltip, fixed bugs #1594,#1240
  src/components/Tooltip.tsx
  src/pages/ActionCard/ActionCard.tsx
  src/pages/Actions/ActionEvent/EventInfo/PicturesWall.tsx
  src/pages/City/City/City.less
  src/pages/City/City/CityAdministration.tsx
  src/pages/City/City/CityDocuments.tsx
  src/pages/City/City/CityFollowers.tsx
  src/pages/City/City/CityMembers.tsx
  src/pages/Club/Club/Club.less
  src/pages/Club/Club/ClubAdministration.tsx
  src/pages/Club/Club/ClubDocuments.tsx
  src/pages/Club/Club/ClubFollowers.tsx
  src/pages/Club/Club/ClubMembers.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBody.less
  src/pages/GoverningBody/GoverningBody/GoverningBodyAdministration.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBodyDocuments.tsx
  src/pages/GoverningBody/Sector/SectorAdministration.tsx
  src/pages/GoverningBody/Sector/SectorDocuments.tsx
  src/pages/Regions/Region.less
  src/pages/Regions/RegionAdministration.tsx
  src/pages/Regions/RegionDocuments.tsx
  src/pages/Regions/RegionFollowers.tsx
  src/pages/Regions/RegionMembers.tsx
  src/pages/RegionsBoard/RegionBoardAdministration.tsx
  src/pages/RegionsBoard/RegionBoardDocuments.tsx
  src/pages/userPage/Blanks/UserAchievements/ListOfAchievementsModal.tsx
  src/pages/userPage/Secretaries/columnsClubs.tsx
Labels: Type: Maintenances

#546 Fixed [Documents type on City/Hovel/Governing Bodies] section is shifted #1545
  src/pages/City/AddDocumentModal/AddDocumentModal.tsx
  src/pages/Club/AddDocumentModal/AddDocumentModal.tsx
  src/pages/GoverningBody/AddDocumentModal/AddDocumentModal.less
Labels: Type: Bug, Governing bodies, Cities (Станиці), Hovels (Курені)

#547 Fixed vouching for Plast Member and added some new roles to vouch. Fixed size for details on Governing Body. Fixed "Confirmed" field
  src/api/decisionsApi.tsx
  src/pages/GoverningBody/GoverningBodyDetailDrawer.tsx
  src/pages/GoverningBody/Sector/SectorDetailDrawer.tsx
  src/pages/userPage/Approvers/Approvers.tsx
Labels: Рівні доступу (Access levels)

#548 Fixed [User table/Таблиця користувачів] We can't choose degree in 'Надання пластового ступеня' #1531
  src/pages/userPage/ActiveMembership/PlastDegree/FormAddPlastDegree.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/ModalAddEndDatePlastDegree.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/ModalAddPlastDegree.tsx
Labels: Type: Bug, User Table, Degree

#551 Changed min avilable birthday for user
  src/pages/userPage/EditUserPage/EditUserPage.tsx
Labels: Type: Bug, User Profile

#552 Modified add/edit event modals + fixed bugs connected to them
  src/components/Notifications/Messages.tsx
  src/models/GllobalValidations/DescriptionValidation.tsx
  src/pages/Actions/ActionEvent/EventCreate/EventCreate.module.css
  src/pages/Actions/ActionEvent/EventCreate/EventCreate.tsx
  src/pages/Actions/ActionEvent/EventEdit/EventEdit.module.css
  src/pages/Actions/ActionEvent/EventEdit/EventEdit.tsx
  src/pages/DecisionTable/FormAddDecision.tsx
  src/pages/DecisionTable/FormEditDecision.tsx
  src/pages/GoverningBody/AddDocumentModal/AddDocumentModal.less
Labels: documentation, Type: Maintenances, Events

#553 fixed notification after region unachivation
  src/pages/Regions/Region.tsx
Labels: Type: Bug, Notifications(Сповіщення), Region

#560 Added new changes for exists region name validator
  src/api/regionsApi.tsx
  src/models/GllobalValidations/DescriptionValidation.tsx
Labels: Type: Bug, Region

#561 Fixed [Regional Board of the Plast/Governing Bodies/Governing body's …
  src/components/Notifications/Messages.tsx
  src/models/GllobalValidations/DescriptionValidation.tsx
  src/pages/City/CreateCity/CreateCity.tsx
  src/pages/Club/CreateClub/CreateClub.tsx
  src/pages/Contacts/Contacts.tsx
  src/pages/GoverningBody/CreateGoverningBody.tsx
  src/pages/GoverningBody/Sector/CreateSector.tsx
  src/pages/GoverningBody/Sector/EditSector.tsx
  src/pages/Regions/AddRegion.tsx
  src/pages/Regions/RegionEdit.tsx
  src/pages/RegionsBoard/RegionBoardEdit.tsx
  src/pages/Statistics/StatisticsCities.tsx
  src/pages/userPage/EditUserPage/EditUserPage.tsx
Labels: Type: Bug, Type: Maintenances

#562 Fixed [Access levels] Access levels are not aligned on page "Дійсне членство" in mobile#1694
  src/components/Notifications/Messages.tsx
  src/pages/Actions/ActionEvent/EventUser/EventUser.module.css
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/EditUserPage/EditUserPage.tsx
Labels: Active Membership, UI

#563 Fixed text alignments on event details, added tooltip leave the city/club,...
  src/pages/Actions/ActionEvent/EventInfo/EventDetails.less
  src/pages/Actions/ActionEvent/EventInfo/EventDetailsHeader.tsx
  src/pages/City/City/City.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/GoverningBody/AddAdministratorModal/EditAdministratorModal.tsx
  src/pages/GoverningBody/Sector/EditAdminModal.tsx
Labels: Type: Bug

#564 Fixed [Country/Governing Bodies/City/Hovels] message about creation/edit appears twice #1647, added mandatory field on appeal
  src/models/GllobalValidations/DescriptionValidation.tsx
  src/pages/Actions/ActionEvent/EventCreate/EventCreate.module.css
  src/pages/Actions/ActionEvent/EventEdit/EventEdit.module.css
  src/pages/City/CreateCity/CreateCity.tsx
  src/pages/Club/CreateClub/CreateClub.tsx
  src/pages/GoverningBody/CreateGoverningBody.tsx
  src/pages/GoverningBody/Sector/CreateSector.tsx
  src/pages/GoverningBody/Sector/EditSector.tsx
Labels: Type: Bug, Type: Maintenances
