Repository ita-social-projects/EPlast-Client, pull requests merged in 2021-02, with the labels that each got.

#313 Fixed controller calling
  src/api/authorizeApi.ts
Labels: Type: Maintenances

#299 Tabs in userTable
  src/api/authorizeApi.ts
  src/models/UserTable/User.tsx
  src/pages/ResetPassword/ResetPassword.tsx
  src/pages/UserTable/UserTable.tsx
Labels: User Table

#314 Added ResendEmailRegistr
  src/api/authorizeApi.ts
  src/pages/UserTable/DropDownUserTable.tsx
  src/pages/UserTable/UserTable.tsx
Labels: User Table

#315 AddNewApiAndFilter
  src/api/precautionApi.tsx
  src/pages/Distinction/DistinctionTable/FormAddDistinction.tsx
Labels: Precaution

#316 Add regions board
  src/App.tsx
  src/api/governingBodiesApi.tsx
  src/api/regionsApi.tsx
  src/components/PrivateLayout/PrivateLayout.tsx
  src/models/RegionBoard/RegionBoardForAdmin.tsx
  src/models/RegionBoard/RegionBoardProfile.tsx
  src/pages/Distinction/DistinctionTable/FormAddDistinction.tsx
  src/pages/Documents/FormAddDocument.tsx
  src/pages/RegionsBoard/AddDocModal.tsx
  src/pages/RegionsBoard/RegionBoard.tsx
  src/pages/RegionsBoard/RegionBoardAdministration.tsx
  src/pages/RegionsBoard/RegionBoardDocuments.tsx
  src/pages/RegionsBoard/RegionBoardEdit.tsx
  src/pages/RegionsBoard/RegionBoardMembers.tsx
  src/pages/RegionsBoard/RegionsBoardDetailDrawer.tsx
Labels: Regions

#317 RedactRegionBoardPage
  src/pages/Precaution/PrecautionTable/PrecautionTable.tsx
  src/pages/RegionsBoard/RegionBoard.tsx
  src/pages/RegionsBoard/RegionBoardEdit.tsx
  src/pages/RegionsBoard/RegionsBoardDetailDrawer.tsx
Labels: Regions

#319 Added notification on Поручення creation
  src/pages/userPage/Approvers/Approvers.tsx
Labels: Notifications(Сповіщення)
