Repository ita-social-projects/EPlast-Client, pull requests merged in 2021-09, with the labels that each got.

#568 Fixed start page after logging in
  src/pages/SignIn/SignIn.tsx
Labels: Logging In

#567 Fixed [Users table] The Hovel Admin shouldn't see the 'Додати ступінь…
  src/pages/UserTable/DropDownUserTable.tsx
Labels: Type: Bug, User Table, Рівні доступу (Access levels)

#566 Created notification about removing from the club
  src/pages/Club/Club/Club.tsx
Labels: Notifications(Сповіщення), Clubs, Hovels (Курені)

#570 Fixed bug with different icons and styling on Administation of governing body/sector
  src/pages/City/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/City/City/CityAdministration.tsx
  src/pages/City/City/CityMembers.tsx
  src/pages/Club/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBodyAdministration.module.css
  src/pages/GoverningBody/GoverningBody/GoverningBodyAdministration.tsx
  src/pages/GoverningBody/Sector/SectorAdministration.tsx
  src/pages/Regions/AddAdministratorModal.tsx
  src/pages/UserTable/ChangeUserCityModal.tsx
Labels: Type: Bug, UI

#572 Fixed [Annual reports] Deputy of Region/City Admin can't view annual reports of any city/region/hovel. #1601
  src/pages/AnnualReport/AnnualReportTable/CityAnnualReportTable.tsx
  src/pages/AnnualReport/AnnualReportTable/ClubAnnualReport.tsx
  src/pages/AnnualReport/AnnualReportTable/RegionAnnualReportTable.tsx
Labels: Type: Bug, Рівні доступу (Access levels)

#569 Refactored code due to changed relations between user and userPlastDegrees (one user - one plast degree)
  src/api/activeMembershipApi.ts
  src/components/PrivateLayout/PrivateLayout.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/FormAddPlastDegree.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/ModalAddPlastDegree.tsx
Labels: Type: Maintenances, Degree

#565 Made correct funcionality for checking region name
  src/components/Notifications/Modals.tsx
  src/models/GllobalValidations/DescriptionValidation.tsx
  src/pages/Regions/AddRegion.tsx
  src/pages/Regions/RegionEdit.tsx
Labels: Type: Bug, Region

#575 Fixed several bugs (#1727,#1726,#1723, ...)
  src/components/Notifications/Messages.tsx
  src/pages/Actions/ActionEvent/EventCalendar/EventCalendar.module.css
  src/pages/Actions/ActionEvent/EventCalendar/EventCalendar.tsx
  src/pages/City/City/City.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Regions/Region.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/FormAddPlastDegree.tsx
  src/pages/userPage/Approvers/Approvers.tsx
  src/pages/userPage/Blanks/UserAchievements/AddAchievementsModal.tsx
Labels: Type: Bug

#578 Modified validators to prevent entering only white spaces in mandator…
  src/models/GllobalValidations/DescriptionValidation.tsx
  src/pages/DecisionTable/FormAddDecision.tsx
  src/pages/DecisionTable/FormEditDecision.tsx
  src/pages/Distinction/DistinctionTable/FormAddDistinction.tsx
  src/pages/Distinction/DistinctionTable/FormEditDistinction.tsx
  src/pages/Documents/FormAddDocument.tsx
  src/pages/Precaution/PrecautionTable/FormAddPrecaution.tsx
  src/pages/Precaution/PrecautionTable/FormEditPrecaution.tsx
  src/pages/Regions/Region.tsx
Labels: Type: Bug

#573 Added info modal after trying to login as former member
  src/api/authorizeApi.ts
  src/components/Notifications/Modals.tsx
Labels: Type: Bug, Active Membership, Logging In

#576 Fixed conditions for approving region followers
  src/pages/Regions/Region.tsx
  src/pages/Regions/RegionFollowers.tsx
Labels: Type: Bug, Regions, Cities (Станиці), Рівні доступу (Access levels)

#577 Fixed some bug with checking of server response
  src/pages/Regions/AddRegion.tsx
  src/pages/Regions/RegionEdit.tsx
Labels: Type: Bug, Region

#574 fixed access levels on Blanks for plast member
  src/pages/userPage/Blanks/Blanks.tsx
Labels: blanks

#579 Fixed [City/Hovel/Region] no name position can be assigned to a user #1755
  src/models/GllobalValidations/DescriptionValidation.tsx
  src/pages/City/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/City/AddAdministratorModal/AddCitiesSecretaryForm.tsx
  src/pages/Club/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/Club/AddAdministratorModal/AddClubsSecretaryForm.tsx
  src/pages/Documents/FormAddDocument.tsx
  src/pages/Regions/AddAdministratorModal.tsx
  src/pages/Regions/AddRegionSecretaryForm.tsx
Labels: Type: Bug, City, Clubs, Region

#581 Access for admin to subscibe on event details form
  src/pages/Actions/ActionEvent/EventInfo/SortedEventInfo.tsx
Labels: Type: Bug, Events

#580 Renamed 'Сьогодні' button in FullCalendar(Events)
  src/pages/Actions/ActionEvent/EventCalendar/EventCalendar.tsx
Labels: Type: Bug, Events

#584 Added a few impovements (events, city,club)
  src/pages/Actions/ActionEvent/EventCard/EventCard.tsx
  src/pages/Actions/ActionEvent/EventInfo/FormAddPictures.tsx
  src/pages/City/City/City.tsx
  src/pages/Club/Club/Club.tsx
Labels: Type: Enhancement, Events, City, Clubs

#585 restrict adding lowrole users to admin
  src/pages/GoverningBody/AddAdministratorModal/AddGoverningBodiesSecretaryForm.tsx
Labels: Governing bodies

#586 Fix wrong error message (bug 1745)
  src/pages/UserTable/ChangeUserCityModal.tsx
  src/pages/UserTable/ChangeUserRegionModal.tsx
Labels: Type: Maintenances, User Table, Cities (Станиці), Region

#587 Access to start text from a new line(textarea fields)
  src/models/GllobalValidations/DescriptionValidation.tsx
  src/pages/DecisionTable/FormAddDecision.tsx
Labels: Type: Bug

#588 UI changes in events
  src/pages/Actions/ActionEvent/EventCard/EventCard.tsx
  src/pages/Actions/ActionEvent/EventInfo/PicturesWall.tsx
  src/pages/Actions/ActionEvent/EventInfo/SortedEventInfo.tsx
  src/pages/Actions/EventsModals.tsx
Labels: Type: Bug

#589 Fixed [Award] [Precaution] have dynamic fields #1736 and #1797
  src/pages/Distinction/DistinctionTable/FormAddDistinction.tsx
  src/pages/Distinction/DistinctionTable/FormEditDistinction.tsx
  src/pages/Precaution/PrecautionTable/FormAddPrecaution.tsx
  src/pages/Precaution/PrecautionTable/FormEditPrecaution.tsx
  src/pages/userPage/personalData/AvatarAndProgressStatic.tsx
Labels: Type: Maintenances, Precaution, Awards (Відзначення)

#590 Samename validator fix for gbs and sectors
  src/models/GllobalValidations/DescriptionValidation.tsx
  src/pages/GoverningBody/CreateGoverningBody.tsx
  src/pages/GoverningBody/Sector/CreateSector.tsx
Labels: Governing bodies

#592 Fix user table tags
  src/pages/UserTable/ColumnsForUserTable.tsx
  src/pages/UserTable/UserTable.module.css
Labels: Type: Maintenances, User Table

#594 Fix user page (Fixed next bugs #1634 #1721 #1719 )
  src/pages/userPage/ActiveMembership/UserDates/ModalChangeUserDates.tsx
  src/pages/userPage/EditUserPage/EditUserPage.tsx
  src/pages/userPage/personalData/AvatarAndProgressStatic.tsx
  src/pages/userPage/personalData/PersonalData.less
  src/pages/userPage/personalData/UserFields.tsx
Labels: Type: Bug, User Profile

#593 Fixed bug #1653
  src/pages/GoverningBody/CreateGoverningBody.tsx
  src/pages/GoverningBody/Sector/EditSector.tsx
Labels: Type: Bug, Governing bodies

#591 Access fro admin to approve himself as a participant
  src/pages/Actions/ActionEvent/EventInfo/ParticipantsTable.tsx
  src/pages/Actions/ActionEvent/EventInfo/SortedEventInfo.tsx
Labels: Type: Bug, Events

#597 Fix bugs #1800 and #1684 in User Table
  src/pages/UserTable/UserTable.module.css
  src/pages/UserTable/UserTable.tsx
Labels: Type: Bug, User Table, UI

#595 Fix active membership bugs #1634 #1724
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/ActiveMembership/UserDates/ModalChangeUserDates.tsx
Labels: Type: Bug, Active Membership, User Profile

#600 Fix CSS styles (fixed bugs #1481 #1495 #1761)
  src/App.less
  src/components/Header/Header.module.css
  src/pages/userPage/personalData/PersonalData.less
Labels: Type: Bug, UI

#599 Unselectable stamp #1752
  src/pages/AnnualReport/AnnualReportTable/AnnualReportInformation/AnnualReportInformation.less
Labels: Type: Bug, RegionAnnualReport

#602 Fixed announcement access and display
  src/App.tsx
  src/models/GoverningBody/GoverningBodyAnnouncement.tsx
  src/pages/GoverningBody/Announcement/Announcement.tsx
  src/pages/GoverningBody/Announcement/DropDownAnnouncement.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBody.tsx
  src/pages/GoverningBody/Sector/Sector.tsx
Labels: Regions Board, Рівні доступу (Access levels)

#605 Fixed several bugs #1826,#1809,#1807,#1795
  src/pages/Actions/EventTypes/EventTypes.module.css
  src/pages/Actions/EventTypes/EventTypes.tsx
  src/pages/Contacts/Contacts.tsx
  src/pages/DecisionTable/FormAddDecision.tsx
  src/pages/Regions/Region.tsx
Labels: Type: Maintenances

#603 Delete wrong style in Header.module.css (revert)
  src/components/Header/Header.module.css
Labels: Type: Bug, UI

#606 Fixed decision display
  src/pages/RegionsBoard/RegionBoard.tsx
Labels: Regions Board, Decisions (Рішення)

#608 Fixed samename validator
  src/models/GllobalValidations/DescriptionValidation.tsx
  src/pages/GoverningBody/CreateGoverningBody.tsx
  src/pages/GoverningBody/Sector/CreateSector.tsx
  src/pages/GoverningBody/Sector/EditSector.tsx
Labels: Governing bodies

#607 Fix short profile (bug #1661)
  src/pages/Actions/ActionEvent/EventUser/EventUser.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/Approvers/Approvers.tsx
  src/pages/userPage/Blanks/Blanks.tsx
  src/pages/userPage/Secretaries/SecretariesPage.tsx
  src/pages/userPage/personalData/AvatarAndProgressStatic.tsx
  src/pages/userPage/personalData/UserFields.tsx
Labels: Type: Bug, User Profile

#609 Added a few improvements
  src/components/Notifications/Messages.tsx
  src/pages/SignIn/SignIn.module.css
  src/pages/SignIn/SignIn.tsx
Labels: Type: Maintenances

#610 Fix for missing symbol I in report information word Un/Confirmed
  src/pages/AnnualReport/AnnualReportTable/AnnualReportInformation/AnnualReportInformation.less
Labels: Type: Bug, UI, AnnualReports

#611 Fixed bugs #1749,1737,1759
  src/pages/ResetPassword/ResetPassword.module.css
  src/pages/SignIn/SignIn.module.css
  src/pages/userPage/Approvers/Approvers.tsx
Labels: Type: Maintenances

#612 Region secretary should not have icons for delete or edit another members from the region administration
  src/pages/City/City/City.tsx
  src/pages/Regions/RegionAdministration.tsx
Labels: UI, Region
