Repository ita-social-projects/EPlast-Client, pull requests merged in 2021-07, with the labels that each got.

#415 Fixed country field in Statistics Cities.
  src/pages/Statistics/StatisticsCities.tsx
Labels: Statistics, Type: Bug

#416 Fixed dynamic dropdowns and datepickers
  src/pages/Actions/ActionEvent/EventCreate/EventCreate.tsx
  src/pages/DecisionTable/FormAddDecision.module.css
  src/pages/DecisionTable/FormAddDecision.tsx
  src/pages/Distinction/DistinctionTable/FormAddDistinction.tsx
  src/pages/Documents/FormAddDocument.tsx
  src/pages/KadraVykhovnykiv/AddNewKadraForm.tsx
  src/pages/Precaution/PrecautionTable/FormAddPrecaution.tsx
Labels: Type: Bug

#417 Prevent uploading emptyFiles in Region,City,Club
  src/components/Notifications/Messages.tsx
  src/pages/City/AddDocumentModal/AddDocumentModal.tsx
  src/pages/Club/AddDocumentModal/AddDocumentModal.tsx
  src/pages/Regions/AddDocModal.tsx
Labels: Cities (Станиці), Clubs, Region

#420 Fixed bug with style on SecretariesPage
  src/pages/userPage/Secretaries/Secretaries.less
  src/pages/userPage/Secretaries/SecretariesPage.tsx
Labels: Type: Bug

#421 Fixed bug with document tooltip
  src/pages/userPage/Blanks/Blanks.tsx
Labels: Type: Bug

#424 Fixed 'the date was not displayed in the ‘Date’ column(invalid date)' #1396
  src/pages/Documents/columns.tsx
Labels: Legislation [Репозитарій], Type: Bug

#423 Fix display and update administrators when manipulating them in cities
  src/pages/City/AddAdministratorModal/AddCitiesSecretaryForm.tsx
  src/pages/City/City/City.tsx
  src/pages/City/City/CityAdministration.tsx
Labels: Cities (Станиці), City

#422 Fixed bug with statistics on cities
  src/pages/Statistics/StatisticsCities.tsx
Labels: Type: Bug

#425 Fix buttons placement on addDocumentModal (for Region, Club profiles), in Legistation. #1406,#1405
  src/pages/Club/AddDocumentModal/AddDocumentModal.less
  src/pages/Club/AddDocumentModal/AddDocumentModal.tsx
  src/pages/DecisionTable/FormAddDecision.module.css
  src/pages/Documents/FormAddDocument.tsx
  src/pages/Regions/AddDocModal.tsx
  src/pages/Regions/AddDocumentModal.less
Labels: Type: Bug, documentation

#418 Image extenshion
  src/api/blankApi.tsx
  src/pages/Actions/ActionEvent/EventCreate/EventCreate.module.css
  src/pages/Actions/ActionEvent/EventCreate/EventCreate.tsx
  src/pages/City/AddDocumentModal/AddDocumentModal.tsx
  src/pages/City/CreateCity/CreateCity.tsx
  src/pages/Club/AddDocumentModal/AddDocumentModal.tsx
  src/pages/Club/CreateClub/CreateClub.tsx
  src/pages/DecisionTable/FormAddDecision.tsx
  src/pages/Documents/FormAddDocument.tsx
  src/pages/GoverningBody/AddDocumentModal/AddDocumentModal.tsx
  src/pages/GoverningBody/CreateGoverningBody.tsx
  src/pages/Regions/AddDocModal.tsx
  src/pages/Regions/AddRegion.tsx
  src/pages/Regions/RegionEdit.tsx
  src/pages/RegionsBoard/AddDocModal.tsx
  src/pages/RegionsBoard/RegionBoardEdit.tsx
  src/pages/userPage/Blanks/UserAchievements/AddAchievementsModal.tsx
  src/pages/userPage/Blanks/UserBiography/AddBiographyModal.tsx
  src/pages/userPage/Blanks/UserExtractFromUPU/AddExtractFromUPUModal.tsx
  src/pages/userPage/EditUserPage/EditUserPage.tsx
Labels: Events, Notifications(Сповіщення), Type: Bug, UI

#426 Fixed [Decision] button 'Видалити файл' isn't aligned #1406
  src/pages/DecisionTable/FormAddDecision.tsx
Labels: Decisions (Рішення), Type: Bug

#427 Fixed styles on ApproversPage
  src/pages/userPage/Approvers/Approvers.less
  src/pages/userPage/Approvers/Approvers.tsx
Labels: Type: Bug

#428 Fixed bug with spelling mistakes on password
  src/pages/ResetPassword/ResetPassword.tsx
Labels: Type: Bug

#429 Fixed tooltips for Regions, Cities and Clubs in UserTable and removed…
  src/pages/UserTable/ColumnsForUserTable.tsx
Labels: Type: Bug, User Table

#430 Fixed bug with blanks
  src/api/blankApi.tsx
  src/models/Blank/BlankDocument.tsx
  src/pages/userPage/Blanks/Blanks.tsx
  src/pages/userPage/Blanks/UserAchievements/AddAchievementsModal.tsx
  src/pages/userPage/Blanks/UserBiography/AddBiographyModal.tsx
  src/pages/userPage/Blanks/UserExtractFromUPU/AddExtractFromUPUModal.tsx
Labels: Type: Bug

#434 Fixed Space between Menu and P #1414
  src/pages/Actions/ActionEvent/ActionEvent.module.css
  src/pages/Actions/ActionEvent/ActionEvent.tsx
Labels: Events, Type: Bug, UI

#436 Update user table
  src/components/PrivateLayout/PrivateLayout.tsx
  src/pages/UserTable/ColumnsForUserTable.tsx
Labels: Type: Bug, User Table

#433 Fixed bug with add administrator modal
  src/pages/City/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/City/AddAdministratorModal/AddCitiesSecretaryForm.tsx
  src/pages/Club/AddAdministratorModal/AddClubsSecretaryForm.tsx
  src/pages/Regions/AddRegionSecretaryForm.tsx
Labels: Type: Bug

#435 Fixed bug with menu
  src/pages/userPage/Menu/Menu.tsx
Labels: Type: Bug

#437 Fixed bug with short personal profile
  src/pages/userPage/personalData/PersonalData.less
  src/pages/userPage/personalData/UserFields.tsx
Labels: Type: Bug

#431 Aligned profile icon
  src/components/Header/Header.module.css
  src/components/Header/HeaderContainer.tsx
Labels: Type: Bug, UI

#439 Fixed styles
  src/pages/Actions/ActionEvent/EventUser/EventUser.module.css
  src/pages/userPage/ActiveMembership/ActiveMembership.module.css
  src/pages/userPage/Blanks/Blanks.module.css
  src/pages/userPage/Blanks/Blanks.tsx
  src/pages/userPage/personalData/PersonalData.less
Labels: Type: Bug

#440 Changes with buttons on add/change degree
  src/pages/DecisionTable/columns.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/FormAddPlastDegree.tsx
Labels: Active Membership, Degree

#441 Change access levels for button More in city documents #1429
  src/pages/City/City/City.tsx
  src/pages/Regions/AddRegionSecretaryForm.tsx
Labels: Cities (Станиці), Type: Bug, Рівні доступу (Access levels)

#443 fixed size of stage on usertable, added autocomplite
  src/pages/UserTable/ChangeUserCityForm.tsx
  src/pages/UserTable/ChangeUserClubForm.tsx
  src/pages/UserTable/ChangeUserRegionForm.tsx
  src/pages/UserTable/ColumnsForUserTable.tsx
Labels: Type: Bug, User Table

#438 User table
  src/api/documentsApi.ts
  src/pages/Actions/ActionEvent/EventCard/EventCard.tsx
  src/pages/Actions/ActionEvent/EventUser/EventUser.tsx
  src/pages/AnnualReport/AnnualReportTable/AnnualReportTable.less
  src/pages/Club/Club/Club.tsx
  src/pages/KadraVykhovnykiv/columns.tsx
  src/pages/Regions/RegionAdministration.tsx
  src/pages/RegionsBoard/AddDocModal.tsx
  src/pages/RegionsBoard/RegionBoard.tsx
  src/pages/UserTable/ColumnsForUserTable.tsx
  src/pages/UserTable/Interfaces/TableFilterParameters.tsx
  src/pages/UserTable/UserTable.tsx
  src/pages/userPage/personalData/AvatarAndProgress.tsx
Labels: User Table

#444 Updated access levels Regions, Clubs, Cities
  src/pages/City/City/City.tsx
  src/pages/City/City/CityAdministration.tsx
  src/pages/City/City/CityDocuments.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Regions/Region.tsx
Labels: Cities (Станиці), Clubs, Governing bodies, Hovels (Курені), documentation, Рівні доступу (Access levels)

#446 Fixed overlapped button with the search box in minimized browser window #1441 and change degree container
  src/pages/Actions/ActionEvent/EventCalendar/EventCalendar.module.css
  src/pages/Actions/ActionEvent/EventCalendar/EventCalendar.tsx
  src/pages/Actions/ActionEvent/EventUser/EventUser.module.css
  src/pages/AnnualReport/AnnualReportTable/AnnualReportTable.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.module.css
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/FormAddPlastDegree.tsx
Labels: Degree, Type: Maintenances, UI

#448 Add file name input for regions board documentation
  src/pages/GoverningBody/AddDocumentModal/AddDocumentModal.less
  src/pages/RegionsBoard/AddDocModal.tsx
Labels: Regions Board, Type: Maintenances

#445 Fix bug with empty post index in okruga creation form
  src/models/GllobalValidations/DescriptionValidation.tsx
Labels: Region, Type: Bug

#450 Add user access for creating governing body sectors
  src/pages/GoverningBody/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/GoverningBody/AddAdministratorModal/AddGoverningBodiesSecretaryForm.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBody.tsx
Labels: Type: Bug, Рівні доступу (Access levels)

#449 Add delete document modal on documents page for regions board
  src/pages/RegionsBoard/RegionBoardDocuments.tsx
Labels: Regions Board, Type: Maintenances

#451 Updated city documents and deleting region
  src/pages/City/City/City.tsx
  src/pages/Regions/CitiesRedirectForm.tsx
  src/pages/Regions/Region.tsx
Labels: City, Regions, Type: Bug, documentation

#453 Restrict file name length
  src/pages/RegionsBoard/AddDocModal.tsx
Labels: Regions Board, Type: Bug

#452 Made forms in active membership responsive to mobile devices.
  src/pages/userPage/ActiveMembership/PlastDegree/FormAddPlastDegree.module.css
  src/pages/userPage/ActiveMembership/UserDates/ModalChangeUserDates.module.css
Labels: Active Membership, Type: Maintenances, UI

#455 Region documents
  src/pages/City/City/City.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Regions/Region.tsx
  src/pages/Regions/RegionMembers.tsx
Labels: Cities (Станиці), Hovels (Курені), Regions, Type: Bug, UI

#456 Update user table. Fixed access levels for admins
  src/pages/UserTable/ChangeUserCityForm.tsx
  src/pages/UserTable/ChangeUserClubForm.tsx
  src/pages/UserTable/ChangeUserRegionForm.tsx
  src/pages/UserTable/DropDownUserTable.tsx
  src/pages/UserTable/UserTable.tsx
Labels: User Table, Рівні доступу (Access levels)

#459 Add counters for documents
  src/pages/GoverningBody/GoverningBody/GoverningBody.tsx
  src/pages/GoverningBody/Sector/Sector.tsx
  src/pages/RegionsBoard/RegionBoard.tsx
Labels: Governing bodies, Regions Board, Type: Enhancement

#458 Fixed filter on precaution
  src/pages/Precaution/PrecautionTable/columns.tsx
Labels: Precaution, Type: Bug

#457 Small update
  src/pages/City/City/City.tsx
  src/pages/Club/Club/Club.tsx
Labels: Cities (Станиці), Hovels (Курені), UI

#462 Fix unaligned error message
  src/pages/GoverningBody/AddAdministratorModal/AddAdministrationModal.less
  src/pages/GoverningBody/AddAdministratorModal/AddGoverningBodiesSecretaryForm.tsx
Labels: Type: Bug, UI

#464 Reduce pageSize in tables Secretaries, change icon on Contacts page
  src/pages/Contacts/Contacts.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/Secretaries/UserCitySecretaryTable.tsx
  src/pages/userPage/Secretaries/UserClubSecretaryTable.tsx
  src/pages/userPage/Secretaries/UserGoverningBodySecretaryTable.tsx
  src/pages/userPage/Secretaries/UserRegionSecretaryTable.tsx
Labels: Secretaries ("Діловодства"), Type: Maintenances

#463 Fix bug add admin email on governing body admins page
  src/models/GoverningBody/GoverningBodyAdmin.tsx
  src/models/GoverningBody/GoverningBodyUser.tsx
  src/pages/GoverningBody/AddAdministratorModal/AddGoverningBodiesSecretaryForm.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBodyAdministration.tsx
  src/pages/RegionsBoard/RegionBoard.tsx
  src/pages/RegionsBoard/RegionBoardAdministration.tsx
Labels: Governing bodies, Type: Maintenances

#465 Add email field to edit modal
  src/pages/GoverningBody/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBodyAdministration.tsx
Labels: Governing bodies, Type: Maintenances

#466 Fix few bugs on precautions, distinctions, acces levels on activeMembership
  src/pages/Distinction/DistinctionTable/FormAddDistinction.tsx
  src/pages/Precaution/PrecautionTable/FormAddPrecaution.tsx
  src/pages/Precaution/PrecautionTable/PrecautionTable.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
Labels: Active Membership, Awards (Відзначення), Precaution, Type: Bug

#469 Fixed [Wrong redirection] after Personal profile data editing #1467
  src/pages/userPage/EditUserPage/EditUserPage.tsx
Labels: Configuration, Type: Bug

#470 Fix decisions button on governing body
  src/pages/GoverningBody/GoverningBody/GoverningBody.tsx
Labels: Governing bodies, Type: Bug

#468 Fixed redirect, on sign in page after successfull registration
  src/pages/SignUp/SignUp.tsx
Labels: Type: Bug

#461 Fixed a few bugs with access levels
  src/pages/City/City/CityDocuments.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Club/Club/ClubDocuments.tsx
Labels: Cities (Станиці), Clubs, Рівні доступу (Access levels)

#472 Responsive design, fixed access levels on degrees
  src/components/NotificationBox/NotificationBox.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/FormAddPlastDegree.tsx
  src/pages/userPage/Approvers/Approvers.tsx
  src/pages/userPage/EditUserPage/EditUserPage.less
  src/pages/userPage/EditUserPage/EditUserPage.module.css
  src/pages/userPage/EditUserPage/EditUserPage.tsx
Labels: Active Membership, Type: Maintenances, UI, Рівні доступу (Access levels)

#474 Fix documents count
  src/pages/GoverningBody/GoverningBody/GoverningBody.tsx
  src/pages/GoverningBody/Sector/Sector.tsx
  src/pages/RegionsBoard/RegionBoard.tsx
Labels: Governing bodies, Regions Board

#473 new club anual report and fix some bugs
  src/pages/AnnualReport/AnnualReportTable/AnnualReportTable.tsx
  src/pages/AnnualReport/AnnualReportTable/ClubAnnualReportInformation/ClubAnnualReportInformation.tsx
  src/pages/AnnualReport/ClubAnnualReportCreate/ClubAnnualReportCreate.tsx
  src/pages/AnnualReport/ClubAnnualReportEdit/ClubAnnualReportEdit.tsx
  src/pages/AnnualReport/ClubAnnualReportForm/ClubAnnualReportForm.tsx
  src/pages/AnnualReport/ClubAnnualReportForm/ClubAnnualReportTableColumns.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
Labels: Clubs, RegionAnnualReport

#478 Add wrong register number check
  src/pages/Distinction/DistinctionTable/FormAddDistinction.tsx
  src/pages/KadraVykhovnykiv/AddNewKadraForm.tsx
  src/pages/Precaution/PrecautionTable/FormAddPrecaution.tsx
Labels: Type: Enhancement, UI

#479 Fix sectors edit page
  src/pages/GoverningBody/AddAdministratorModal/EditAdministratorModal.tsx
  src/pages/GoverningBody/Sector/EditAdminModal.tsx
  src/pages/GoverningBody/Sector/EditSector.tsx
Labels: Governing bodies, Type: Bug

#477 Fixed user being head and headDeputy at the same
  src/models/Region/RegionDocument.tsx
  src/pages/City/AddAdministratorModal/AddCitiesSecretaryForm.tsx
  src/pages/City/City/City.tsx
  src/pages/Club/AddAdministratorModal/AddClubsSecretaryForm.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Regions/AddRegionSecretaryForm.tsx
  src/pages/Regions/Region.tsx
  src/pages/Regions/RegionMembers.tsx
Labels: Cities (Станиці), Hovels (Курені), Regions, Type: Bug

#482 Add email tooltips for administration
  src/pages/GoverningBody/GoverningBody/GoverningBody.less
  src/pages/GoverningBody/GoverningBody/GoverningBodyAdministration.tsx
  src/pages/GoverningBody/Sector/SectorAdministration.tsx
Labels: Governing bodies

#484 Improved UserPage, closed modal after clicking on 'Додати' button on 'Дійсне членство' page #1502, another bugs/improvements
  src/components/Notifications/Messages.tsx
  src/pages/Actions/ActionEvent/EventUser/EventUser.tsx
  src/pages/AnnualReport/AnnualReportTable/AnnualReportTable.less
  src/pages/AnnualReport/AnnualReportTable/AnnualReportTable.tsx
  src/pages/Distinction/DistinctionTable/DistinctionTable.tsx
  src/pages/Distinction/DistinctionTable/Table.module.css
  src/pages/Documents/Table.module.css
  src/pages/KadraVykhovnykiv/KadrasPage.tsx
  src/pages/KadraVykhovnykiv/Table.module.css
  src/pages/Precaution/PrecautionTable/PrecautionTable.tsx
  src/pages/Precaution/PrecautionTable/Table.module.css
  src/pages/UserTable/UserTable.module.css
  src/pages/UserTable/UserTable.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/FormAddPlastDegree.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/ModalAddPlastDegree.tsx
  src/pages/userPage/Approvers/Approvers.tsx
  src/pages/userPage/Blanks/Blanks.module.css
  src/pages/userPage/Blanks/Blanks.tsx
  src/pages/userPage/Secretaries/SecretariesPage.tsx
  src/pages/userPage/personalData/AvatarAndProgress.tsx
  src/pages/userPage/personalData/AvatarAndProgressStatic.tsx
  src/pages/userPage/personalData/UserFields.tsx
Labels: Active Membership, Degree, Notifications(Сповіщення), User Profile

#485 Sector access levels
  src/pages/GoverningBody/GoverningBody/GoverningBody.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBodyAdministration.tsx
  src/pages/GoverningBody/Sector/Sector.tsx
  src/pages/GoverningBody/Sector/SectorAdministration.tsx
Labels: Governing bodies, Рівні доступу (Access levels)

#486 Fixed log out after redirect logined user on sign in/up pages
  src/components/Header/HeaderContainer.tsx
  src/pages/SignIn/SignIn.tsx
Labels: Type: Bug

#489 Improve created events on User page(button add event), fixed notifications, get rid of …
  src/components/Notifications/Messages.tsx
  src/pages/Actions/ActionEvent/EventCalendar/EventCalendar.tsx
  src/pages/Actions/ActionEvent/EventUser/EventUser.tsx
  src/pages/DecisionTable/DecisionTable.tsx
Labels: Active Membership, Events, Type: Maintenances

#491 Fix access for registered user
  src/api/regionsBoardApi.tsx
  src/pages/RegionsBoard/RegionBoard.tsx
  src/pages/RegionsBoard/RegionBoardDocuments.tsx
Labels: Regions Board, Type: Bug

#492 Added notification about successful region delete
  src/pages/Regions/Region.tsx
Labels: Notifications(Сповіщення), Region, Type: Bug

#487 User table add club admin
  src/api/clubsApi.tsx
  src/pages/UserTable/ChangeUserClubForm.tsx
  src/pages/UserTable/ChangeUserClubModal.tsx
  src/pages/UserTable/UserTable.tsx
Labels: Clubs, User Table

#493 Region&hovel&city head notifications fix
  src/models/Region/RegionAdmin.tsx
  src/pages/City/City/City.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Regions/Region.tsx
Labels: City, Hovels (Курені), Notifications(Сповіщення), Region, Type: Bug
