Repository ita-social-projects/EPlast-Client, pull requests merged in 2022-07, with the labels that each got.

#983 Add notifications on creating Region Followers
  src/api/adminApi.tsx
  src/models/Admin/AdminTypesEnum.ts
  src/pages/City/CreateCity/CreateCity.tsx
Labels: Regions, Cities (Станиці)

#986 Add Oblast field to CreateCity page and additional fixes
  src/models/City/CityProfile.tsx
  src/models/Region/RegionFollower.tsx
  src/pages/City/CityDetailDrawer/CityDetailDrawer.tsx
  src/pages/City/CreateCity/CreateCity.tsx
Labels: Regions, Cities (Станиці)

#987 New role referent
  src/models/Roles/AdminRole.tsx
  src/models/Roles/Roles.tsx
  src/pages/City/AddAdministratorModal/AddCitiesSecretaryForm.tsx
  src/pages/Regions/AddRegionSecretaryForm.tsx
  src/pages/UserTable/DropdownItem.tsx
  src/pages/UserTable/UserTable.tsx
Labels: User Table, Regions, Cities (Станиці), Рівні доступу (Access levels)

#990 CreateCity form bugfixes
  src/models/GllobalValidations/DescriptionValidation.tsx
  src/pages/City/CityDetailDrawer/CityDetailDrawer.tsx
  src/pages/City/CreateCity/CreateCity.tsx
Labels: Regions, Cities (Станиці)

#946 react-sweet-state
  src/api/documentsApi.ts
  src/pages/Documents/DocumentsTable.tsx
  src/pages/Documents/FormAddDocument.tsx
  src/pages/Documents/Table.module.css
  src/stores/DocumentsStore.ts
  src/stores/StorePrecaution.tsx
Labels: Legislation [Репозитарій]

#991 refactor oblasts
  src/api/citiesApi.tsx
  src/api/regionsApi.tsx
  src/models/Oblast/OblastsRecord.ts
  src/models/Oblast/UkraineOblasts.ts
  src/models/Region/RegionForAdministration.tsx
  src/pages/SignUp/SignUp.tsx
  src/pages/SignUp/verification.ts
  src/stores/SingUpStore.ts
Labels: Type: Bug, Code refactoring

#994 Directoryaccess
  src/components/PrivateLayout/PrivateLayout.tsx
  src/pages/userPage/Menu/Menu.tsx
Labels: Рівні доступу (Access levels)

#998 Updated user table
  src/api/UserApi.tsx
  src/models/UserTable/UserTable.tsx
  src/pages/UserTable/ColumnsForUserTable.tsx
  src/pages/UserTable/UserComment.less
  src/pages/UserTable/UserComment.tsx
  src/pages/UserTable/UserTable.module.css
  src/pages/UserTable/UserTable.tsx
Labels: User Table

#1003 Fix Regions creation
  src/models/Region/RegionProfile.tsx
  src/pages/Regions/AddRegion.tsx
  src/pages/Regions/RegionEdit.tsx
Labels: Regions

#1004 Fix gutters
  src/pages/City/CreateCity/CreateCity.tsx
  src/pages/Regions/AddRegion.tsx
  src/pages/Regions/RegionEdit.tsx
Labels: UI

#1006 UserTable_UserAccess_Fix
  src/models/UserTable/DropdownFunc.tsx
  src/pages/UserTable/DropDownUserTable.tsx
  src/pages/UserTable/DropdownItem.tsx
Labels: User Table, Рівні доступу (Access levels)

#1008 default cursor for unregistered users
  src/App.less
  src/pages/AnnouncementsTable/AnnouncementsTable.tsx
  src/pages/City/City/CheckActiveMembersForm.less
  src/pages/City/City/City.less
  src/pages/City/City/City.tsx
  src/pages/City/City/CityAdministration.tsx
  src/pages/City/City/CityFollowers.tsx
  src/pages/City/City/CityMembers.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/GoverningBody/Announcement/Announcement.tsx
  src/pages/GoverningBody/Sector/SectorAnnouncement/SectorAnnouncement.tsx
  src/pages/UserTable/DropdownItem.tsx
  src/pages/userPage/personalData/UserFields.tsx
Labels: City, UI

#995 Styles fix for pictures
  src/pages/City/Cities/Cities.less
  src/pages/City/Cities/SortedCities.tsx
  src/pages/City/City/City.less
  src/pages/Club/Club/Club.less
  src/pages/Regions/Region.less
Labels: Regions, City, Clubs, UI

#997 Add required property to user droplist
  src/pages/RegionsBoard/AddMainAdministratorModal/AddRegionBoardMainAdminForm.tsx
Labels: Regions Board, UI

#1011 Fix gutter
  src/pages/City/CreateCity/CreateCity.tsx
Labels: City

#1012 Fix switcher
  src/pages/City/Cities/SortedCities.tsx
  src/pages/Regions/SortedRegions.tsx
Labels: Regions, Cities (Станиці)

#1013 User table access fix lost commit
  src/pages/UserTable/DropdownItem.tsx
Labels: User Table, UI

#1014 Governing bodies Images object-fit contain
  src/pages/GoverningBody/GoverningBody/GoverningBody.less
Labels: Governing bodies, UI

#1016 Add Remove Follower button to UserTable
  src/api/citiesApi.tsx
  src/models/UserTable/DropdownFunc.tsx
  src/models/UserTable/UserTable.tsx
  src/pages/GoverningBody/Sector/AddDocumentModal.tsx
  src/pages/UserTable/ColumnsForUserTable.tsx
  src/pages/UserTable/DeleteCityFollowerModal.less
  src/pages/UserTable/DeleteCityFollowerModal.tsx
  src/pages/UserTable/DropDownUserTable.tsx
  src/pages/UserTable/DropdownItem.tsx
  src/pages/UserTable/UserTable.module.css
  src/pages/UserTable/UserTable.tsx
Labels: User Table

#1015 Fix #2654
  src/pages/Club/Clubs/SortedClubs.tsx
Labels: Hovels (Курені)

#1018 Add degree modal fix
  src/components/Notifications/Messages.tsx
  src/pages/City/City/City.tsx
  src/pages/City/City/CityFollowers.tsx
  src/pages/UserTable/DropDownUserTable.tsx
  src/pages/userPage/ActiveMembership/ActiveMembership.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/FormAddPlastDegree.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/ModalAddPlastDegree.tsx
Labels: Degree

#1026 Unify all table styles
  src/components/Notifications/Messages.tsx
  src/pages/AnnualReport/AnnualReportTable/CityAnnualReportTable.tsx
  src/pages/AnnualReport/AnnualReportTable/ClubAnnualReport.tsx
  src/pages/AnnualReport/AnnualReportTable/RegionAnnualReportTable.tsx
  src/pages/AnnualReport/AnnualReportTable/TableStyles.module.css
  src/pages/DecisionTable/DecisionTable.tsx
  src/pages/DecisionTable/DropDownDecision.tsx
  src/pages/DecisionTable/FormAddDecision.module.css
  src/pages/DecisionTable/Table.module.css
  src/pages/Distinction/DistinctionTable/DistinctionTable.tsx
  src/pages/Distinction/DistinctionTable/DropDownDistinctionTable.tsx
  src/pages/Distinction/DistinctionTable/Table.module.css
  src/pages/Documents/DocumentsTable.tsx
  src/pages/Documents/DropDownDocuments.tsx
  src/pages/Documents/Table.module.css
  src/pages/KadraVykhovnykiv/KVTable.tsx
  src/pages/KadraVykhovnykiv/KadraDropDown.tsx
  src/pages/KadraVykhovnykiv/Table.module.css
  src/pages/Precaution/PrecautionTable/DropDownPrecautionTable.tsx
  src/pages/Precaution/PrecautionTable/FormEditPrecaution.tsx
  src/pages/Precaution/PrecautionTable/PrecautionTable.tsx
  src/pages/Precaution/PrecautionTable/Table.module.css
  src/pages/Statistics/StatisticsCities.less
  src/pages/Statistics/StatisticsCities.tsx
  src/pages/Statistics/StatisticsRegions.less
  src/pages/Statistics/StatisticsRegions.tsx
  src/pages/UserRenewal/UserRenewalTable/Table.module.css
  src/pages/UserRenewal/UserRenewalTable/UserRenewalTable.tsx
  src/pages/UserTable/DropDownUserTable.tsx
  src/pages/UserTable/UserDeleteConfirm.tsx
  src/pages/UserTable/UserTable.tsx
  src/pages/userPage/ActiveMembership/PlastDegree/FormAddPlastDegree.tsx
  src/stores/DocumentsStore.ts
  src/stores/StorePrecaution.tsx
Labels: Type: Bug, UI

#1022 Add email to user dropdown options
  src/models/City/CityUser.tsx
  src/pages/City/AddAdministratorModal/AddCitiesSecretaryForm.tsx
  src/pages/City/City/City.tsx
  src/pages/Club/AddAdministratorModal/AddClubsSecretaryForm.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/GoverningBody/Sector/AddSectorAdminForm.tsx
  src/pages/Regions/AddRegionSecretaryForm.tsx
  src/pages/Regions/Region.tsx
Labels: enhancement

#1025 Fix usertable modals
  src/pages/City/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/Regions/AddAdministratorModal.tsx
  src/pages/UserTable/DropDownUserTable.tsx
Labels: User Table

#1028 Usertable dropdown fix
  src/pages/UserTable/DropDownUserTable.tsx
Labels: Type: Bug, User Table, UI

#1024 Autogenerated breadcrumbs from URL
  src/App.tsx
  src/Routes.tsx
  src/components/Breadcrumb/Breadcrumb.tsx
  src/components/PrivateLayout/PrivateLayout.tsx
  src/pages/City/Cities/SortedCities.tsx
  src/pages/City/City/City.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Club/Clubs/SortedClubs.tsx
  src/pages/GoverningBody/AddAdministratorModal/AddGoverningBodiesSecretaryForm.tsx
  src/pages/GoverningBody/CreateGoverningBody.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBody.tsx
  src/pages/GoverningBody/Sector/AddSectorAdminForm.tsx
  src/pages/GoverningBody/Sector/Sector.tsx
  src/pages/GoverningBody/Sector/SectorAdministration.tsx
  src/pages/GoverningBody/Sector/Sectors.tsx
  src/pages/Regions/Region.tsx
  src/pages/Regions/SortedRegions.tsx
  src/pages/RegionsBoard/EditAdministratorModal.tsx
  src/pages/RegionsBoard/RegionBoard.tsx
  src/pages/RegionsBoard/RegionBoardAdministration.tsx
  src/pages/RegionsBoard/RegionBoardEdit.tsx
  src/pages/UserTable/ChangeUserGoverningBodyForm.tsx
Labels: Type: Enhancement, UI

#1032 Fix warning being shown on other's profile page
  src/pages/userPage/personalData/UserFields.tsx
Labels: User Profile

#1033 Fix for City provid links
  src/pages/City/City/CityAdministration.tsx
  src/pages/Regions/Region.tsx
Labels: City
