Repository ita-social-projects/EPlast-Client, pull requests merged in 2022-08, with the labels that each got.

#1035 Fixed Links for Cities and Sectors
  src/Routes.tsx
  src/components/Breadcrumb/Breadcrumb.tsx
Labels: City, Regions Board

#1037 Fix event participants table
  src/pages/Actions/ActionEvent/EventInfo/EventInfo.tsx
  src/pages/Actions/ActionEvent/EventInfo/ParticipantsTable.tsx
Labels: Type: Bug, Events

#1036 User Table context menu Add/Change Degree Fix
  src/pages/UserTable/DropDownUserTable.tsx
  src/pages/UserTable/DropdownItem.tsx
Labels: User Table, Рівні доступу (Access levels)

#1038 Remove currentUserId parameter from User action
  src/api/UserApi.tsx
  src/pages/UserRenewal/UserRenewalTable/UserRenewalTable.tsx
  src/pages/UserTable/UserTable.tsx
  src/pages/userPage/personalData/PersonalData.tsx
Labels: Рівні доступу (Access levels), User Profile

#1040 editUserPage validation
  src/pages/SignUp/SignUp.tsx
  src/pages/userPage/EditUserPage/EditUserPage.tsx
  src/pages/userPage/personalData/UserFields.tsx
Labels: User Profile

#1043 Remove width parameter on Region Provid modal
  src/pages/Regions/Region.tsx
Labels: Regions, UI

#1050 2740-fix
  src/pages/UserTable/ColumnsForUserTable.tsx
Labels: UI

#1030 Annual reports UI fixes
  src/components/PrivateLayout/PrivateLayout.tsx
  src/pages/AnnualReport/AnnualReportTable/AnnualReportTable.tsx
  src/pages/AnnualReport/AnnualReportTable/RegionSelectModal/RegionSelectModal.tsx
Labels: Menu, AnnualReports

#1023 #2648 Bug fix
  src/pages/City/City/CityAdministration.tsx
Labels: City, Рівні доступу (Access levels)

#1045 Distinctions page complete Redux refactor
  src/api/distinctionApi.tsx
  src/api/precautionApi.tsx
  src/components/Notifications/Messages.tsx
  src/models/Distinction/Distinction.tsx
  src/models/Distinction/UserDistinction.tsx
  src/models/UserTable/User.tsx
  src/pages/Distinction/DistinctionTable/AddDistinctionModal.tsx
  src/pages/Distinction/DistinctionTable/DeleteConfirm.tsx
  src/pages/Distinction/DistinctionTable/DistinctionTable.tsx
  src/pages/Distinction/DistinctionTable/DropDownDistinctionTable.tsx
  src/pages/Distinction/DistinctionTable/EditDistinctionModal.tsx
  src/pages/Distinction/DistinctionTable/EditDistinctionTypesModal.tsx
  src/pages/Distinction/DistinctionTable/FormAddDistinction.tsx
  src/pages/Distinction/DistinctionTable/FormEdit.module.css
  src/pages/Distinction/DistinctionTable/FormEditDistinction.tsx
  src/pages/Distinction/DistinctionTable/FormEditDistinctionTypes.tsx
  src/pages/Distinction/DistinctionTable/FormEditDistinctionTypes/DeleteTypeConfirm.tsx
  src/pages/Distinction/DistinctionTable/FormEditDistinctionTypes/DistinctionTypeInputValidator.tsx
  src/pages/Distinction/DistinctionTable/FormEditDistinctionTypes/FormAddDistinctionType.tsx
  src/pages/Distinction/DistinctionTable/FormEditDistinctionTypes/FormEditDistinctionType.tsx
  src/pages/Distinction/DistinctionTable/FormEditDistinctionTypes/FormListOfDistinctionTypes.tsx
  src/pages/Distinction/Interfaces/Distinction.tsx
  src/pages/Distinction/Interfaces/User.tsx
  src/pages/Distinction/Interfaces/UserDistinction.tsx
  src/pages/Distinction/Interfaces/UserDistinctionEdit.tsx
  src/pages/Precaution/PrecautionTable/FormEditPrecaution.tsx
  src/pages/RegionsBoard/AddMainAdministratorModal/AddRegionBoardMainAdminForm.tsx
  src/pages/userPage/personalData/AvatarAndProgressStatic.tsx
  src/stores/DistinctionsStore.ts
  src/stores/StorePrecaution.tsx
Labels: Type: Maintenances, Awards (Відзначення), Distinctions

#1060 #2388-fix
  src/pages/RegionsBoard/RegionBoardDocuments.tsx
Labels: UI

#1057 Rename "прихильник" to "зголошений"
  src/pages/userPage/personalData/AvatarAndProgressStatic.tsx
Labels: UI, User Profile

#1053 Club bugs
  src/Routes.tsx
  src/pages/City/AddAdministratorModal/AddAdministratorModal.tsx
  src/pages/City/City/City.tsx
  src/pages/City/CreateCity/CreateCity.tsx
  src/pages/Club/Club/Club.tsx
  src/pages/Club/CreateClub/CreateClub.tsx
  src/pages/GoverningBody/AddAdministratorModal/AddGoverningBodiesSecretaryForm.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBody.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBodyAdministration.tsx
  src/pages/GoverningBody/Sector/AddSectorAdminForm.tsx
  src/pages/GoverningBody/Sector/EditAdminModal.tsx
  src/pages/Regions/AddRegion.tsx
  src/pages/Regions/Region.tsx
  src/pages/Regions/RegionEdit.tsx
Labels: Type: Bug, Regions, City, Clubs, Governing bodies, Secretaries ("Діловодства")

#1073 Fix 2746. The field "Заява" allows to enter invalid data.
  src/components/Notifications/Messages.tsx
  src/models/GllobalValidations/DescriptionValidation.tsx
Labels: Type: Bug, Cities (Станиці)
