Repository ita-social-projects/EPlast-Client, pull requests merged in 2022-09, with the labels that each got.

#1055 Fix #2760. Registered user/Зареєстрований користувач should not have an access to the Regions tab.
  src/pages/userPage/personalData/AvatarAndProgressStatic.tsx
  src/pages/userPage/personalData/PersonalData.less
Labels: Type: Bug, Рівні доступу (Access levels)

#1080 Fix user profiles not switching between pages
  src/pages/userPage/personalData/PersonalData.tsx
Labels: User Profile

#1084 Fix query loading on User Table
  src/pages/UserTable/UserTable.tsx
Labels: User Table

#1042 Events page redesign
  src/Routes.tsx
  src/api/eventsApi.ts
  src/components/Breadcrumb/Breadcrumb.tsx
  src/components/ImagePreview/ImagePreview.less
  src/components/ImagePreview/ImagePreview.tsx
  src/models/EventUser/EventFeedback.ts
  src/models/Events/EventAdmin.ts
  src/models/Events/EventDetails.ts
  src/models/Events/EventGallery.ts
  src/models/Events/EventInformation.ts
  src/models/Events/EventParticipant.ts
  src/pages/Actions/ActionEvent/ActionEvent.module.css
  src/pages/Actions/ActionEvent/ActionEvent.tsx
  src/pages/Actions/ActionEvent/EventCard/EventCard.module.css
  src/pages/Actions/ActionEvent/EventCard/EventCard.tsx
  src/pages/Actions/ActionEvent/EventCreate/EventCreate.module.css
  src/pages/Actions/ActionEvent/EventEdit/EventEdit.module.css
  src/pages/Actions/ActionEvent/EventInfo/EventDetails.less
  src/pages/Actions/ActionEvent/EventInfo/EventDetailsHeader.less
  src/pages/Actions/ActionEvent/EventInfo/EventDetailsHeader.tsx
  src/pages/Actions/ActionEvent/EventInfo/EventFeedbackModal.less
  src/pages/Actions/ActionEvent/EventInfo/EventFeedbackModal.tsx
  src/pages/Actions/ActionEvent/EventInfo/EventInfo.less
  src/pages/Actions/ActionEvent/EventInfo/EventInfo.module.css
  src/pages/Actions/ActionEvent/EventInfo/EventInfo.tsx
  src/pages/Actions/ActionEvent/EventInfo/FormAddPictures.tsx
  src/pages/Actions/ActionEvent/EventInfo/Gallery.tsx
  src/pages/Actions/ActionEvent/EventInfo/GalleryPicture.less
  src/pages/Actions/ActionEvent/EventInfo/GalleryPicture.tsx
  src/pages/Actions/ActionEvent/EventInfo/GalleryPictureAdd.tsx
  src/pages/Actions/ActionEvent/EventInfo/ParticipantsTable.tsx
  src/pages/Actions/ActionEvent/EventInfo/PicturesWall.tsx
  src/pages/Actions/ActionEvent/EventInfo/SortedEventInfo.tsx
  src/pages/Actions/ActionEvent/EventInfo/data.tsx
  src/pages/Actions/ActionEvent/SortedEvents.tsx
  src/pages/Actions/Actions.module.css
  src/pages/Actions/Actions.tsx
  src/pages/Actions/EventTypes/EventTypes.module.css
  src/pages/Actions/EventTypes/EventTypes.tsx
  src/pages/Actions/EventsModals.tsx
Labels: Events, Code refactoring

#1059 #2510 Fix Renewal Notification
  src/components/Notifications/Messages.tsx
  src/pages/UserRenewal/UserRenewal.tsx
Labels: User renewals

#1075 new admin types
  src/AuthLocalStorage.ts
  src/config.ts
  src/pages/GoverningBody/AddAdministratorModal/AddGoverningBodiesSecretaryForm.tsx
  src/pages/GoverningBody/AddAdministratorModal/EditAdministratorModal.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBody.tsx
  src/pages/GoverningBody/GoverningBodyAdminTypes.ts
  src/pages/GoverningBody/Sector/AddSectorAdminForm.tsx
  src/pages/GoverningBody/Sector/EditAdminModal.tsx
  src/pages/GoverningBody/Sector/Sector.tsx
  src/pages/GoverningBody/Sector/SectorAdminTypes.ts
  src/pages/Regions/Form.module.css
  src/pages/UserTable/ChangeUserGoverningBodyForm.tsx
Labels: Governing bodies

#1085 (dis)appearing 'Додати сертифікат' button logic
  src/pages/userPage/Blanks/Blanks.tsx
  src/pages/userPage/Blanks/UserAchievements/AddAchievementsModal.tsx
  src/pages/userPage/Blanks/UserAchievements/ListOfAchievementsModal.tsx
  src/pages/userPage/Menu/Menu.tsx
  src/pages/userPage/personalData/Courses.tsx
Labels: User Profile

#1079 #2764 Fix City Application Access
  src/pages/City/CreateCity/CreateCity.tsx
  src/pages/Regions/Region.tsx
  src/pages/Regions/RegionFollowers.tsx
Labels: City, Рівні доступу (Access levels)

#1092 #2744 Fix region administration access
  src/pages/Regions/RegionAdministration.tsx
Labels: Regions, Рівні доступу (Access levels)

#1081 Fix-#2312. Incorrect date of birth in the application for joining Plast issue.
  src/pages/SignUp/SignUp.tsx
  src/pages/userPage/EditUserPage/EditUserPage.tsx
Labels: Type: Bug

#1052 Fix #2762. When registered user click on 'Профілі членів проводу станиці' he gets 403 error.
  src/pages/City/City/CityAdministration.tsx
Labels: Type: Bug, Рівні доступу (Access levels)

#1116 fix-regionReportAccess
  src/models/AnnualReport/RegionAnnualReport.ts
  src/pages/AnnualReport/AnnualReportMenu.tsx
  src/pages/AnnualReport/AnnualReportTable/RegionAnnualReportInformation.tsx
  src/pages/AnnualReport/AnnualReportTable/RegionMembersTable/RegionMembersTable.tsx
Labels: AnnualReports

#1120 ReportEdit&ViewVisibilityFix
  src/pages/AnnualReport/AnnualReportTable/Dropdowns/ConfirmedDropdown/ConfirmedDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/Dropdowns/SavedDropdown/SavedDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/Dropdowns/UnconfirmedDropdown/UnconfirmedDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForClubAnnualReports/ConfirmedDropdown/ConfirmedDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForClubAnnualReports/SavedDropdown/SavedDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForClubAnnualReports/UnconfirmedDropdown/UnconfirmedDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForRegionReports/ConfirmedDropdown/ConfirmedRegionDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForRegionReports/SavedDropdown/SavedRegionDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForRegionReports/UnconfirmedDropdown/UnconfirmedRegionDropdown.tsx
Labels: Рівні доступу (Access levels), AnnualReports

#1069 Edit distinction type input value fix
  src/pages/Distinction/DistinctionTable/AddDistinctionModal.tsx
  src/pages/Distinction/DistinctionTable/EditDistinctionModal.tsx
  src/pages/Distinction/DistinctionTable/EditDistinctionTypesModal.tsx
  src/pages/Distinction/DistinctionTable/FormAddDistinction.tsx
  src/pages/Distinction/DistinctionTable/FormEditDistinction.tsx
  src/pages/Distinction/DistinctionTable/FormEditDistinctionTypes/FormEditDistinctionType.tsx
  src/pages/Distinction/DistinctionTable/FormEditDistinctionTypes/FormListOfDistinctionTypes.tsx
  src/stores/DistinctionsStore.ts
Labels: Type: Maintenances, Distinctions

#1077 Fix-#2305. Region admin could not edit the profile of a user who belonged to his district.
  src/pages/userPage/personalData/UserFields.tsx
Labels: Type: Bug, Рівні доступу (Access levels)
