Repository ita-social-projects/EPlast-Client, pull requests merged in 2022-01, with the labels that each got.

#813 Announcement is now added to announcements without refreshing the page
  src/pages/GoverningBody/AddAdministratorModal/AddGoverningBodiesSecretaryForm.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBody.tsx
Labels: Governing bodies

#814 [Events] No confirmation window appears when rejecting a participant from the event #2245
  src/pages/Actions/ActionEvent/EventInfo/ParticipantsTable.tsx
Labels: Type: Maintenances, Events

#812 Fixed bug with button reject approve and fixed bug with scroll #2182
  src/App.tsx
  src/components/ScrollToTop/ScrollToTop.tsx
  src/pages/userPage/Approvers/Approvers.tsx
  src/pages/userPage/personalData/PersonalData.tsx
Labels: Type: Bug, UI, User Profile, Approvers ("Поручення")

#816 Fixed Statistics bug in Cities and Regions with disabled fields
  src/pages/Statistics/StatisticsCities.tsx
  src/pages/Statistics/StatisticsRegions.tsx
Labels: Type: Bug, Statistics

#817 PDF for cities
  package-lock.json
  package.json
  src/api/AnnualReportApi.tsx
  src/assets/VFS/vfs.js
  src/models/PDF/AnnualReport/CityAnnualReportLayout.tsx
  src/models/PDF/fonts.tsx
  src/pages/AnnualReport/AnnualReportTable/AnnualReportInformation/AnnualReportInformation.tsx
  src/pages/AnnualReport/AnnualReportTable/CityAnnualReportTable.tsx
  src/pages/AnnualReport/Interfaces/User.ts
Labels: AnnualReports

#818 Club annual report pdf
  src/models/PDF/AnnualReport/CityAnnualReportLayout.tsx
  src/models/PDF/AnnualReport/ClubAnnualReportLayout.tsx
  src/pages/AnnualReport/AnnualReportTable/ClubAnnualReport.tsx
  src/pages/AnnualReport/AnnualReportTable/ClubAnnualReportInformation/ClubAnnualReportInformation.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForClubAnnualReports/ConfirmedDropdown/ConfirmedDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForClubAnnualReports/ConfirmedDropdown/ConfirmedDropdownProps.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForClubAnnualReports/SavedDropdown/SavedDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForClubAnnualReports/SavedDropdown/SavedDropdownProps.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForClubAnnualReports/UnconfirmedDropdown/UnconfirmedDropdown.tsx
  src/pages/AnnualReport/AnnualReportTable/DropdownsForClubAnnualReports/UnconfirmedDropdown/UnconfirmedDropdownProps.tsx
  src/pages/AnnualReport/Interfaces/ClubAnnualReport.ts
Labels: AnnualReports, ClubAnnualReport

#808 addштп pictures in about base
  src/api/aboutBase.tsx
  src/pages/AboutBase/AboutBase.tsx
  src/pages/AboutBase/FormAddSubsection.tsx
  src/pages/AboutBase/PicturesWall.tsx
Labels: About base

#820 Error message on adding the same precaution
  src/api/precautionApi.tsx
  src/pages/Precaution/PrecautionTable/FormAddPrecaution.tsx
Labels: Precaution

#821 Added notification that admin has changed role in user table for city…
  src/pages/UserTable/ChangeUserCityModal.tsx
Labels: Notifications(Сповіщення), User Table, Cities (Станиці)

#822 Fixed alignment text of terms
  src/pages/SignUp/SignUp.tsx
Labels: UI, Terms

#819 Fixed bugs with blanks page (Fixes #2195 #2194 #2196 and #1481)
  src/pages/userPage/Blanks/Blanks.tsx
  src/pages/userPage/personalData/PersonalData.tsx
Labels: Type: Bug, blanks, User Profile

#823 Fixed pdf on decision
  src/models/PDF/Decision/DecisionLayout.tsx
  src/pages/DecisionTable/DropDownDecision.tsx
Labels: Decisions (Рішення)

#827 Precautions table settings
  src/api/distinctionApi.tsx
  src/api/precautionApi.tsx
  src/models/Distinction/DistinctionTableSettings.tsx
  src/models/Precaution/PrecautionTableSettings.tsx
  src/pages/Distinction/DistinctionTable/DistinctionTable.tsx
  src/pages/Precaution/PrecautionTable/DeleteConfirm.tsx
  src/pages/Precaution/PrecautionTable/PrecautionTable.tsx
  src/pages/Precaution/PrecautionTable/columns.tsx
Labels: Precaution, Awards (Відзначення)

#828 Accesses for menu
  src/api/UserApi.tsx
  src/components/PrivateLayout/PrivateLayout.tsx
Labels: Рівні доступу (Access levels), Menu

#829 about base improvements
  src/api/aboutBase.tsx
  src/pages/AboutBase/AboutBase.tsx
  src/pages/AboutBase/EditSubsectionModal.tsx
  src/pages/AboutBase/FormAddSubsection.tsx
  src/pages/AboutBase/FormEditSubsection.tsx
  src/pages/AboutBase/PicturesWallEdit.tsx
Labels: About base

#830 fixed bug with adding pictures
  src/pages/AboutBase/FormAddSubsection.tsx
Labels: About base

#831 Updated menu accesses
  src/components/PrivateLayout/PrivateLayout.tsx
Labels: Рівні доступу (Access levels), Menu

#825 Announcements upgraded
  src/App.tsx
  src/api/UserApi.tsx
  src/api/api.ts
  src/api/governingBodiesApi.tsx
  src/models/GoverningBody/Announcement/Announcement.tsx
  src/models/GoverningBody/Announcement/AnnouncementForAdd.tsx
  src/pages/GoverningBody/Announcement/AddAnnouncementModal.tsx
  src/pages/GoverningBody/Announcement/Announcement.module.css
  src/pages/GoverningBody/Announcement/Announcement.tsx
  src/pages/GoverningBody/Announcement/DropDownAnnouncement.tsx
  src/pages/GoverningBody/Announcement/EditAnnouncementModal.tsx
  src/pages/GoverningBody/Announcement/FormAddAnnouncement.tsx
  src/pages/GoverningBody/GoverningBody/GoverningBody.tsx
  src/pages/GoverningBody/Sector/Sector.tsx
Labels: Governing bodies

#833 Precautions table settings
  src/pages/Distinction/DistinctionTable/DeleteConfirm.tsx
  src/pages/Distinction/DistinctionTable/DistinctionTable.tsx
  src/pages/Distinction/DistinctionTable/columns.tsx
  src/pages/Precaution/PrecautionTable/PrecautionTable.tsx
Labels: Awards (Відзначення)

#832 Fixed date pdf decision
  src/models/PDF/Decision/DecisionLayout.tsx
Labels: Decisions (Рішення)

#834 Add asterisks to mandatory fields in CreateCityAnnualReport
  src/pages/AnnualReport/AnnualReportForm/AnnualReportForm.tsx
Labels: AnnualReports

#815 Fixed bug calendar moves with the page
  src/pages/Actions/ActionEvent/EventEdit/EventEdit.tsx
Labels: Type: Bug, Events

#835 Kadra table fixed sorting
  src/api/KadraVykhovnykivApi.tsx
  src/pages/KadraVykhovnykiv/Interfaces/KadraTableSettings.ts
  src/pages/KadraVykhovnykiv/KVTable.tsx
  src/pages/KadraVykhovnykiv/columns.tsx
  src/pages/Precaution/PrecautionTable/Table.module.css
Labels: Senior Staff (Кадра виховників)

#837 Fixed clearing chart on statistics
  src/pages/Statistics/StatisticsCities.tsx
  src/pages/Statistics/StatisticsRegions.tsx
Labels: Type: Bug, Statistics

#836 Fixed decision add edit
  src/api/decisionsApi.tsx
  src/pages/DecisionTable/DecisionTable.tsx
  src/pages/DecisionTable/DropDownDecision.tsx
  src/pages/DecisionTable/EditDecisionModal.tsx
  src/pages/DecisionTable/FormAddDecision.tsx
  src/pages/DecisionTable/FormEditDecision.tsx
Labels: Decisions (Рішення)
